<div class="text-center">
  <h2 style="background-color:#503219; color:#fff; padding:10px; max-width:100%">Animal Approvals</h2>
</div>
<div class="container" style="background-color: #d8ceb9;height:100%;width:90%;padding: 10px;">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-striped table-bordered nowrap" datatable="ng" dt-options="vm.dtOptions" dt-instance="vm.dtInstance" width="100%" ng-init="AnimalApprovalData()">
          <thead>
            <tr>
              <th>Animal Picture</th>
              <th>RegNo</th>
              <th>Animal Name</th>
              <th>Sex</th>
              <th>Member Number</th>
              <th>Private Herd</th>
              <th>Description</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="aad in aads">
              <td>
                <img src="../uploads/animals/{{aad.picture}}" height="100" width="100">
                <br>
                <a href="http://34.66.91.118/uploads/animals/{{aad.picture}}", target="_blank">View</a>
              </td>
              <td><span ng-bind="aad.RegNo"></span></td>
              <td><span ng-bind="aad.Animal"></span></td>
              <td><span ng-bind="aad.Typeservice"></span></td>
              <td><span ng-bind="aad.MemberNo"></span></td>
              <td><span ng-bind="aad.PrivateHerd"></span></td>
              <td><span ng-bind="aad.Description"></span></td>
              <td>
                <button class="fa fa-check btn btn-success" ng-click="AnimalApprovalButton(aad)"></button>
                <button class="fa fa-close btn btn-danger" ng-click="AnimalDenyButton(aad)"></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>