<style>
    a:hover{
      color: darkred!important;
      text-decoration: none;
    }
    .darklav {
    background-color: #c6cde3;
}
.u-full-width-bbc {
    width: 100%;
    box-sizing: border-box;
    /* border-radius: 10px; */
    border: 1px solid slategrey;
    padding: 10px;
    /* margin-bottom: 1rem; */
    /* margin-top: 1rem; */
}
.twelve.columns {
    width: 100%;
    margin-left: 0;
}
form {
    display: block;
    margin-top: 0em;
}
.bigline {
    font-size: 125%;
}
.strongline {
    font-weight: bold;
}
input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
    height: 35px;
    padding: 6px 10px;
    background-color: #FFF;
    border: 1px solid #bbb;
    border-radius: 6px;
    box-shadow: none;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 0.5rem;
    appearance: none;
}
.button-primary {
    color: ghostwhite;
    background-color: #1EAEDB;
    border-color: #1EAEDB;
}

a {
    background-color: transparent;
}
a:visited {
    color: darkblue;
    text-decoration: none;
}

.button-primary {
    color: ghostwhite;
    background-color: #1EAEDB;
    border-color: #1EAEDB;
}
.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
    display: inline-block;
    height: 35px;
    padding: 0 20px;
    color: #333333;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    line-height: 35px;
    margin-bottom: 4px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: #decbc8;
    border-radius: 4px;
    border: 1px solid slategrey;
    cursor: pointer;
    box-sizing: border-box;
}
.button-primary:hover {
    color: #FFF;
    background-color: #188aae;
    border-color: #188aae;
}
body {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    color: #111111;
    word-wrap: break-word;
    margin: 0;
    background-color: whitesmoke;
}
  </style>
  
  <div class="container" style="background-color: #dedede!important;box-sizing: border-box;border: 1px solid slategrey;padding: 10px;margin-bottom: 1rem;margin-top: 1rem;
  height:100%;width:90%;padding: 10px;height: 90px;">
    <p class="medline menucolor" id="blankbar" >
      <span class="fancyline biggerline" style="font-size: 150%;">ABBI Competition Admin</span><br>
      <a style="color: darkblue; text-decoration: none; background-color: transparent!important; font-size: 17px; " href="http://localhost/admin/home#!/eventhome">home</a> |
       <a style="color: darkblue; text-decoration: none; background-color: transparent!important; font-size: 17px; " href="http://localhost/admin/home#!/pastevent">past events</a> | 
  <a  style="color: darkblue; text-decoration: none; background-color: transparent!important; font-size: 17px;" href="http://localhost/admin/home#!/addevent">add event</a> |
   <a style="color: darkblue; text-decoration: none; background-color: transparent!important; font-size: 17px; " href="http://localhost/admin/home#!/classlink">Link 2 Classes</a> |
   <a style="color: darkblue; text-decoration: none; background-color: transparent!important; font-size: 17px; " href="http://localhost/admin/home#!/bullboss">animals</a> |
   <a style="color: darkblue; text-decoration: none; background-color: transparent!important; font-size: 17px; " href="http://localhost/admin/home#!/handlerlist">handlers</a> |
   <a style="color: darkblue; text-decoration: none; background-color: transparent!important; font-size: 17px; " href="http://localhost/admin/home#!/program">programs</a></p>
  </div>
<div class="container"  style="background-color: #d8ceb9;height:100%;width:90%;padding: 0;margin-top: 0;">
  <div class="u-full-width-bbc darklav">	          
    <div class="row" style="padding: 10px 20px;">	           					
    <div class="twelve columns">
    
    <form method="GET" action="/competition/boss/bull_boss.php">
    <span class="bigline strongline" style="color:black;">Search Animals </span> -- (9149 animals in pool)
   
    <input type="text" name="q" id="q" placeholder="Search By brand, name or owner" autofocus="">		 
     
     
     <button type="submit" class="button-primary">Search</button>
     &nbsp;&nbsp; <a style="background-color: transparent!important;" href="/competition/boss/bull_boss.php">Clear Search</a>
     </form>
     
     </div>			  
     </div>
     </div>
     </div>