<style>
    a:hover {
        color: darkred !important;
        text-decoration: none;
    }

    .six.columns {
        width: 48%;
    }

    .six-columns label {
        display: block;
        margin-bottom: 0;
        font-weight: 700;
        font-size: 100%;
    }

    input[type='text'] {
        height: 35px;
        padding: 6px 10px;
        background-color: #FFF;
        border: 1px solid #bbb;
        border-radius: 6px;
        box-shadow: none;
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 0.5rem;
    }

    .columns:first-child {
        margin-left: 0;
    }

    div {
        display: block;
    }

    .u-full-width-bbc {
        width: 100%;
        box-sizing: border-box;
        border-radius: 10px;
        /* border: 1px solid slategrey; */
        padding: 10px;
        margin-bottom: 1rem;
        /* margin-top: 1rem; */
    }

    select {
        height: 35px;
        padding: 6px 10px;
        background-color: #FFF;
        border: 1px solid #bbb;
        border-radius: 6px;
        box-shadow: none;
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 0.5rem;
    }

    button {
        display: inline-block;
        height: 35px;
        padding: 0 20px;
        color: #333333;
        text-align: center;
        font-size: 13px;
        font-weight: 700;
        line-height: 35px;
        margin-bottom: 4px;
        text-transform: uppercase;
        text-decoration: none;
        white-space: nowrap;
        background-color: #decbc8;
        border-radius: 4px;
        border: 1px solid slategrey;
        cursor: pointer;
        box-sizing: border-box;
    }

    .button-primary {
        color: ghostwhite;
        background-color: #1EAEDB;
        border-color: #1EAEDB;
        margin-top: 1rem;
    }

    .button-primary:hover {
        color: #FFF;
        background-color: #188aae;
        border-color: #188aae;
    }

    body {
        font-size: 1.5em;
        line-height: 1.6;
        font-weight: 400;
        font-family: 'Work Sans', sans-serif;
        color: #111111;
        word-wrap: break-word;
        margin: 0;
        background-color: whitesmoke;
    }

    .ABBI {
        background-color: #ccd9ea;
    }

    .blankbar {
        border-radius: 6px;
        padding: 2px 5px 2px 5px;
    }

    .bigline {
        font-size: 125%;
    }

    p {
        margin-top: 0;
        margin-bottom: 0.5rem;
    }

    .darklav {
        background-color: #c6cde3;
    }

    .u-full-width-bbc {
        width: 100%;
        box-sizing: border-box;
        border-radius: 10px;
        border: 1px solid slategrey;
        padding: 10px;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    body {
        font-size: 1.5em;
        line-height: 1.6;
        font-weight: 400;
        font-family: 'Work Sans', sans-serif;
        color: #111111;
        word-wrap: break-word;
        margin: 0;
        background-color: whitesmoke;
    }

    label,
    legend {
        display: block;
        margin-bottom: 0;
        font-weight: 700;
        font-size: 100%;
        cursor: default;
    }

    select {
        height: 35px;
        padding: 6px 10px;
        background-color: #FFF;
        border: 1px solid #bbb;
        border-radius: 6px;
        box-shadow: none;
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 0.5rem;
        text-transform: none;
        color: inherit;
        font: inherit;
        margin: 0;
    }

    .button-primary {
        color: ghostwhite;
        background-color: #1EAEDB;
        border-color: #1EAEDB;
    }

    button,
    input[type="submit"],
    input[type="reset"],
    input[type="button"] {
        display: inline-block;
        height: 35px;
        padding: 0 20px;
        color: #333333;
        text-align: center;
        font-size: 13px;
        font-weight: 700;
        line-height: 35px;
        margin-bottom: 4px;
        text-transform: uppercase;
        text-decoration: none;
        white-space: nowrap;
        background-color: #decbc8;
        border-radius: 4px;
        border: 1px solid slategrey;
        cursor: pointer;
        box-sizing: border-box;
    }
</style>
<div class="container" style="background-color: #dedede!important;box-sizing: border-box;border: 1px solid slategrey;padding: 10px;margin-bottom: 1rem;margin-top: 1rem;
  height:100%;width:90%;padding: 10px;height: 90px;">
    <p class="medline menucolor" id="blankbar">
        <span class="fancyline biggerline" style="font-size: 150%;">ABBI Competition Admin</span><br>
        <a style="color: darkblue; text-decoration: none; background-color: transparent!important; font-size: 17px; "
            href="http://localhost/admin/home#!/eventhome">home</a> |
        <a style="color: darkblue; text-decoration: none; background-color: transparent!important; font-size: 17px; "
            href="http://localhost/admin/home#!/pastevent">past events</a> |
        <a style="color: darkblue; text-decoration: none; background-color: transparent!important; font-size: 17px;"
            href="http://localhost/admin/home#!/addevent">add event</a> |
        <a style="color: darkblue; text-decoration: none; background-color: transparent!important; font-size: 17px; "
            href="http://localhost/admin/home#!/classlink">Link 2 Classes</a> |
        <a style="color: darkblue; text-decoration: none; background-color: transparent!important; font-size: 17px; "
            href="http://localhost/admin/home#!/bullboss">animals</a> |
        <a style="color: darkblue; text-decoration: none; background-color: transparent!important; font-size: 17px; "
            href="http://localhost/admin/home#!/handlerlist">handlers</a> |
        <a style="color: darkblue; text-decoration: none; background-color: transparent!important; font-size: 17px; "
            href="http://localhost/admin/home#!/program">programs</a>
    </p>
</div>
<div class="container" style="height:100%;width:90%;padding: 0;margin-top: 0;margin-bottom: 10px;">
    <p class="blankbar ABBI bigline strongline" style="margin:0">Link Two Classes (<a
            style="background-color:transparent!important;color:darkblue"
            href="/competition/boss/class_link.php?mode=list">List Linked classes</a>)</p>
</div>
<div class="container" style="height:100%;width:90%;padding: 0;margin-top: 0;background-color: #f1f1f1!important;">
    <p style="padding: 10px 10px 0 10px;">Two classes of the same type can be linked together but drawn seperately.
        This applies when you want to have a two round event or a two perf event and
        you want to draw each round or perf independently.</p>
    <p style="padding: 0 10px 0 10px;">If you set two classes up as perfs, the payout will be applied as though they
        were one class.
        If you set them up as rounds, the payoff will be applied to the aggregate score over both rounds.</p>
    <p style="padding: 0 10px 0 10px;">Event 1 in this form will always be treated as round 1 or perf 1 and event 2 will
        be round 2 or perf 2.</p>
    <div class="nine columns" style="padding: 0 10px;">
        <div class="u-full-width-bbc darklav" style="border-radius: 0;">
            <form method="POST" action="/competition/boss/process_event.php"><label for="ev1">Class 1</label>
                <select id="ev1" name="ev1">
                    <option value="0"> --- Choose First Class --- </option>
                    <option value="2970">2970: Texarkana, TX Open Derby BYOR</option>
                    <option value="2969">2969: Texarkana, TX 2022 NBLB Futurity </option>
                </select>
                <label for="linktype">Link Type</label>
                <select id="linktype" name="linktype">
                    <option value="0"> --- Choose Link Type --- </option>
                    <option value="round">Round </option>
                    <option value="perf">Perf</option>
                    <option value="team">Team</option>
                </select><label for="ev2">Class 2</label>
                <select id="ev2" name="ev2">
                    <option value="0"> --- Choose Second Class --- </option>
                    <option value="2970">2970: Texarkana, TX Open Derby BYOR</option>
                    <option value="2969">2969: Texarkana, TX 2022 NBLB Futurity </option>
                </select>
                <input type="hidden" name="formname" value="link_classes">
                <button type="submit" name="submit" class="button-primary">Link These</button>
            </form>
        </div>
    </div>
</div>