<div class="text-center">
  <h2 style="background-color:#503219; color:#fff; padding:10px; max-width:100%">Database Backup</h2>
</div>
<div class="container" style="background-color: #d8ceb9;height:100%;width:90%;padding: 10px;">
  <div class="row"> <br />
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <button class="btn btn-color" type="button" ng-click="DatabaseBackup()">Database Backup </button>
    </div>
  </div>
</div>