<div class="text-center">
  <h2 style="background-color:#503219; color:#fff; padding:10px; max-width:100%">DNA Testing</h2>
</div>
<div class="container" style="background-color: #d8ceb9;height:100%;width:90%;padding: 10px;" ng-hide="editanimaldna">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <form ng-submit="DnaTesting(dnatest)">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label>Status<span style="color: red">*</span></label>
            <select class="form-control" ng-change="changeStatus(dnatest)" ng-model="dnatest.status" ng-required="true">
              <option value="">--Select One--</option>
              <option value="Pending">Pending</option>
              <option value="Resubmit">Resubmit</option>
              <option value="Pending-BR">Pending-BR</option>
              <option value="Pending-Sent">Pending-Sent</option>
              <option value="Complete">Complete</option>
              <option value="Complete-DNA Sire">Complete-DNA Sire</option>
              <option value="Complete-DNA Dam">Complete-DNA Dam</option>
              <option value="Complete-No Match">Complete-No Match</option>
            </select>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label>Date<span style="color: red">*</span></label>
            <select class="form-control" ng-model="dnatest.date" ng-required="true">
              <option value="">--Select One--</option>
              <option value="0">Entry Date</option>
              <option value="1">Completion Date</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label>From </label>
            <input type="date" ng-model-options="{timezone: 'UTC'}"  class="form-control" ng-model="dnatest.from">
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label>To</label>
            <input type="date" ng-model-options="{timezone: 'UTC'}" class="form-control" ng-model="dnatest.to">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label>New Lab Miagen<span style="color: red">*</span></label>
            <select class="form-control" ng-model="dnatest.service" ng-required="true">
              <option value="">--Select One--</option>
              <option value="1">New Lab Miagen</option>
            </select>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-show="showbatch">
          <div class="form-group">
            <label>Batch</label>
            <select class="form-control" ng-model="dnatest.batch" ng-init="batchList()" ng-change="ShowBatchData(dnatest)">
              <option value="">--Select One--</option>
              <option ng-repeat="bl in bls" value="{{bl.BatchID}}">{{bl.BatchFileName}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <input type="submit" class="btn btn-color" name="" value="View DNA List">
        <input type="button" class="btn btn-color" ng-click="ResetDnaTesting(dnatest)" name="" value="Reset">
        <input type="submit" class="btn btn-color" ng-click="DnaTestingMail(dnatest)" name="" value="Send to lab">
      </div>
    </form>
  </div>
</div>
<br>
<div class="tab-content" ng-show="withbatch">
  <div  class="tab-pane fade in active">
    <div class="container" style="background-color: #d8ceb9;height:100%;width:90%;padding: 10px;">
      <a target="_blank" href="http://office.americanbuckingbull.com/DNATesting/Send_DNA_CSV/{{file.FileName}}">{{file.FileName}}</a>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped table-bordered nowrap" datatable="ng"dt-options="vm.dtOptions" dt-instance="vm.dtInstance" width="100%">
              <thead>
                <tr>
                  <th>Owner</th>
                  <th>Request</th>
                  <th>Test</th>
                  <th>Rel</th>
                  <th>Sample ID</th>
                  <th>Reg. #</th>
                  <th>Tag/Tattoo</th>
                  <th>Animal Name</th>
                  <th>Sex</th>
                  <th>Brd#</th>
                  <th>SType</th>
                  <th>DOB</th>
                  <th>Bar Code</th>
                  <th>New</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="batch in batches">
                  <td><span ng-bind="batch.Owner"></span></td>
                  <td><span ng-bind="batch.Request"></span></td>
                  <td><span ng-bind="batch.Test"></span></td>
                  <td><span ng-bind="batch.Relationship"></span></td>
                  <td><span ng-bind="batch.SampleID"></span></td>
                  <td><span ng-bind="batch.RegNo"></span></td>
                  <td><span ng-bind="batch.TagTattoo"></span></td>
                  <td><span ng-bind="batch.Animal"></span></td>
                  <td><span ng-bind="batch.Sex"></span></td>
                  <td><span ng-bind="batch.Brd"></span></td>
                  <td><span ng-bind="batch.SType"></span></td>
                  <td><span ng-bind="batch.Birthdate |date: 'MM/dd/yyyy'"></span></td>
                  <td><span ng-bind="batch.BarCode"></span></td>
                  <td><span ng-bind="batch.New"></span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tab-content" ng-hide="withoutbatch">
  <div  class="tab-pane fade in active">
    <div class="container" style="background-color: #d8ceb9;height:100%;width:90%;padding: 10px;">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped table-bordered nowrap" datatable="ng"dt-options="vm.dtOptions" dt-instance="vm.dtInstance" width="100%">
              <thead>
                <tr>
                  <th> Reg# </th>
                  <th> Rel</th>
                  <th> Test</th>
                  <th>Stype </th>
                  <th>Animal</th>
                  <th>Description</th>
                  <th>Status</th>
                  <th>Birthdate</th>
                  <th>Member</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="dna in dnas">
                  <td><a ng-click="EditAnimalInDNA(dna)" href="#"><span ng-bind="dna.RegNo"></span></a></td>
                  <td><span ng-bind="dna.Relationship"></span></td>
                  <td><span ng-bind="dna.Test"></span></td>
                  <td><span ng-bind="dna.Stype"></span></td>
                  <td><span ng-bind="dna.Animal"></span></td>
                  <td><span ng-bind="dna.Description"></span></td>
                  <td><span ng-bind="dna.Status"></span></td>
                  <td><span ng-bind="dna.BirthDate | date:'MM/dd/yyyy'"></span></td>
                  <td><span ng-bind="dna.Member"></span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" style="background-color: #d8ceb9;height:100%;width:90%;padding: 10px;" ng-show="editanimaldna1">
  <div class="row">
    <form class="form-group">
      <div class="col-sm-6">
        <div class="col-sm-12 form-group">
          <label>Payment Id: </label>
          <input type="text" class="form-control" ng-model="editanimal.PaymentID">
        </div>
        <div class="col-sm-12 form-group">
          <label>Reg No.</label>
          <span ng-bind="editanimal.RegNo"></span>
        </div>
        <div class="col-sm-12 form-group">
          <label>Member</label>
          <input type="text" class="form-control" ng-model="editanimal.OriginalBreeder">
        </div>
        <div class="col-sm-12 form-group">
          <label>Name</label>
          <input type="text" placeholder="Name" class="form-control" ng-model="editanimal.Animal" required="">
        </div>
        <div class="col-sm-12 form-group">
          <label>Sex</label>
          <select class="form-control" ng-model="editanimal.TypeService">
            <option value="NB">NB</option>
            <option value="NC">NC</option>
            <option value="AB">AB</option>
            <option value="AC">AC</option>
            <option value="EB">EB</option>
            <option value="EC">EC</option>
            <option value="NM">NM</option>
            <option value="NS">NS</option>
            <option value="NG">NG</option>
            <option value="AM">AM</option>
            <option value="AS">AS</option>
            <option value="AG">AG</option>
            <option value="EM">EM</option>
            <option value="ES">ES</option>
            <option value="EG">EG</option>
          </select>
        </div>
        <div class="col-sm-12 form-group">
          <label>Private Herd #</label>
          <input type="text" class="form-control" ng-model="editanimal.PrivateHerd">
        </div>
        <div class="col-sm-12 form-group">
          <label>Birth Date</label>
          <span ng-bind="editanimal.BirthDate | date : 'MM/dd/yyyy'" class="form-control"></span>
        </div>
        <div class="col-sm-12 form-group">
          <label>DNA Number</label>
          <input type="text" class="form-control" ng-model="editanimal.DNA">
        </div>
        <div class="col-sm-12 form-group">
          <label>Description</label>
          <input type="text" class="form-control" ng-model="editanimal.Description">
        </div>
        <div class="col-sm-12 form-group">
          <label>Horns</label>
          <select class="form-control" ng-model="editanimal.Horns">
            <option value="H">H</option>
            <option value="D">D</option>
            <option value="P">P</option>
          </select>
        </div>
        <div class="col-sm-12 form-group">
          <label>Notes</label>
          <textarea class="form-control" ng-model="editanimal.RNotes"></textarea>
        </div>
        <div class="col-sm-12 form-group">
          <label>EID Tag</label>
          <input type="text" class="form-control" ng-model="editanimal.EarTag">
        </div>
      </div>
      <div class="col-sm-6 form-group">
        <div class="col-sm-12 form-group">
          <label>Get Payment Id from Work Order:  </label>
          <input type="text" class="form-control" ng-model="editanimal.paymentwo">
        </div>
        <div class="col-sm-12 form-group">
          <label>Print Certificate  </label>
          <input type="checkbox" ng-model="editanimal.PendingPrinting" ng-true-value="{{ 1 | json }}" ng-false-value="{{ 0 | json }}">
        </div>
        <div class="col-sm-12 form-group">
          <label>MISC</label>
          <input type="text" class="form-control" ng-model="editanimal.Misc">
        </div>
        <div class="col-sm-12 form-group">
          <label>Original Breeder</label>
          <input type="text" class="form-control" ng-model="editanimal.HiddenOriginalBreeder">
        </div>
        <div class="col-sm-12 form-group">
          <label class="inline-checkbox">DNA'd
            <input type="checkbox" ng-model="editanimal.DNAD" ng-true-value="{{ 1 | json }}" ng-false-value="{{ 0 | json }}">
          </label>
        </div>
        <div class="col-sm-12 form-group">
          <label>Verified</label>
          <select class="form-control" ng-model="editanimal.Verified">
            <option value="REF">Reference</option>
            <option value="PAR">Verification</option>
          </select>
        </div>
        <div class="col-sm-12 form-group">
          <label>DNA Status</label>
          <select class="form-control" ng-model="editanimal.Status">
            <option value="Complete">Complete</option>
            <option value="Waiting For Samples">Waiting For Samples</option>
            <option value="Waiting For Samples - Overdue">Waiting For Samples - Overdue</option>
            <option value="Waiting For Samples and Dam Auth.">Waiting For Samples and Dam Auth.</option>
            <option value="Waiting For Dam Auth.">Waiting For Dam Auth.</option>
            <option value="Cataloged">Cataloged</option>
            <option selected="selected" value="Pending">Pending</option>
            <option value="Complete-DNA Sire">Complete-DNA Sire</option>
            <option value="Complete-DNA Dam">Complete-DNA Dam</option>
            <option value="Complete-No Match">Complete-No Match</option>
            <option value="Multiple">Multiple</option>
            <option value="Failed Testing">Failed Testing</option>
            <option value="Failed Testing-Waiting For Dam Auth.">Failed Testing-Waiting For Dam Auth.</option>
            <option value="Resubmit">Resubmit</option>
            <option value="Deceased">Deceased</option>
            <option value="Research">Research</option>
            <option value="Pending-BR">Pending-BR</option>
          </select>
        </div>
        <div class="col-sm-12 form-group">
          <label class="inline-checkbox">Send to DNA
            <input type="checkbox" ng-model="editanimal.Sendtodna" ng-true-value="{{ 1 | json }}" ng-false-value="{{ 0 | json }}">
          </label>
        </div>
        <div class="col-sm-12 form-group">
          <label>SType</label>
          <select class="form-control" ng-model="editanimal.stype">
            <option value="FTA">FTA</option>
            <option value="DAT">DAT</option>
            <option value="BL">BL</option>
            <option value="HR">HR</option>
            <option value="SE">SE</option>
            <option value="TI">TI</option>
          </select>
        </div>
        <div class="col-sm-12 form-group">
          <label>Date Registered</label>
          <span ng-bind="editanimal.Dateregestered | date : 'MM/dd/yyyy'" class="form-control"></span>
        </div>
        <div class="col-sm-12 form-group" style="white-space: nowrap;">
          <button class="btn btn-color" ng-click="UpdateFullAnimalData(editanimal)" type="button">Save</button>
          <button ng-click="editanimaldna=false;editanimaldna1=false;withbatch = false;withoutbatch = false;" class="btn btn-color">Exit</button>
        </div>
      </div>
    </form>
  </div>
  <ul class="nav nav-tabs">
    <li><a data-toggle="tab" href="#memberanimal11">Member</a></li>
    <li><a data-toggle="tab" href="#pedigree11">Pedigree </a></li>
    <li class="active"><a data-toggle="tab" href="#dna211">DNA  </a></li>
    <li><a data-toggle="tab" href="#previousOwners11">Previous Owners  </a></li>
    <li><a data-toggle="tab" href="#offspringinanimal11">Offspring  </a></li>
    <li><a data-toggle="tab" href="#eidinfoanimal11">EID Info   </a></li>
    <li><a data-toggle="tab" href="#earninganiamal11">Earnings  </a></li>
  </ul>
  <div class="tab-content">
    <div id="memberanimal11" class="tab-pane fade">
      <div class="container edge col-md-12" style="background-color: #d8ceb9;height:100%;padding: 10px;">
        <form>

          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <label>Name:</label>
              <b ng-bind="memberpanel.MemberName"></b>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <label>Ranch:</label>
              <b ng-bind="memberpanel.RanchName"></b>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <label>Type:</label>
              <b ng-bind="memberpanel.Type"></b>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <label>Email Address:</label>
              <b ng-bind="memberpanel.email"></b>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <label>Address:</label>
              <b ng-bind="memberpanel.Address"></b>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <label>City:</label>
              <b ng-bind="memberpanel.City"></b>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <label>State:</label>
              <b ng-bind="memberpanel.State"></b>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <label>Zip Code:</label>
              <b ng-bind="memberpanel.Zip"></b>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <label>Phone:</label>
              <b ng-bind="memberpanel.Phone"></b>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <label>Phone 2:</label>
              <b ng-bind="memberpanel.AltPhone"></b>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <label>Office:</label>
              <b ng-bind="memberpanel.Office"></b>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <label>Fax:</label>
              <b ng-bind="memberpanel.Fax"></b>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <label>Join Date:</label>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <label>Renewal:</label>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <label>Paid Date:</label>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <label>Last Updated:</label>
              <b ng-bind="memberpanel.UpdatedBy2"></b>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <label> Notes:</label>
              <b ng-bind="memberpanel.MNotes"></b>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div id="pedigree11" class="tab-pane fade align">
      <div class="container col-md-12" style="background-color: #d8ceb9;height:100%;padding: 10px;">
        <form class="form-group"> 
          <div class="col-md-12">
            <div class="col-md-6">
              <h4><b style="color:red">Sire</b></h4>
              <label>Number :</label>
              <input type="text" ng-model="pedigreepanel.Sire">
              <br>
              <label>Name :</label>
              <b ng-bind="pedigreepanel.sirname"></b>
              <br>
              <label>Herd No. :</label>
              <b ng-bind="pedigreepanel.sireherd"></b>
              <br>
              <br>
              <h4><b style="color:red">Dam</b></h4>
              <label>Number :</label>
              <input type="text" ng-model="pedigreepanel.Dam">
              <br>
              <label>Name :</label>
              <b ng-bind="pedigreepanel.damname"></b>
              <br>
              <label>Herd No. :</label>
              <b ng-bind="pedigreepanel.damherd"></b>
            </div>
            <div class="col-md-6">
              <h4><b style="color:red">Grand Sire</b></h4>
              <label>Number :</label>
              <b ng-bind="pedigreepanel.grandsire"></b>
              <br>
              <label>Name :</label>
              <b ng-bind="pedigreepanel.grandsirname"></b>
              <br>
              <label>Herd No. :</label>
              <b ng-bind="pedigreepanel.grandsireherd"></b>
              <br>
              <br>
              <h4><b style="color:red">Grand Dam</b></h4>
              <label>Number :</label>
              <b ng-bind="pedigreepanel.granddam"></b>
              <br>
              <label>Name :</label>
              <b ng-bind="pedigreepanel.granddamname"></b>
              <br>
              <label>Herd No. :</label>
              <b ng-bind="pedigreepanel.granddamherd"></b>
              <br>
              <br>
              <h4><b style="color:red">Grand Sire</b></h4>
              <label>Number :</label>
              <b ng-bind="pedigreepanel.grandsire2"></b>
              <br>
              <label>Name :</label>
              <b ng-bind="pedigreepanel.grandsirname2"></b>
              <br>
              <label>Herd No. :</label>
              <b ng-bind="pedigreepanel.grandsireherd2"></b>
              <br>
              <br>
              <h4><b style="color:red">Grand Dam</b></h4>
              <label>Number :</label>
              <b ng-bind="pedigreepanel.granddam2"></b>
              <br>
              <label>Name :</label>
              <b ng-bind="pedigreepanel.granddamname2"></b>
              <br>
              <label>Herd No. :</label>
              <b ng-bind="pedigreepanel.granddamherd2"></b>
            </div>
            <div class="row">
              <button class="btn btn-color" ng-click="SavePedigree(pedigreepanel,editanimal)">Save Pedigree</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div id="dna211" class="tab-pane fade align in active">
      <div class="container col-md-12" style="background-color: #d8ceb9;height:100%;padding: 10px;">
        <button type="button" class="btn btn-color" ng-click="ShowAddreg(1);GetMemQuickList();updatemember()">Add Regno</button>
        <button type="button" class="btn btn-color" ng-click="DeleteDNAList(editanimal)">Delete All</button>
      </div>
      <br>
      <div class="container col-md-12" style="background-color: #d8ceb9;height:100%;padding: 10px;" ng-hide="addregno">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered nowrap" datatable="ng" dt-options="vm.dtOptions" dt-instance="vm.dtInstance" width="100%">
                <thead>
                  <tr>
                    <th>Ran Against</th>
                    <th>Owner</th>
                    <th>Sample ID</th>
                    <th>Animal</th>
                    <th>Private Herd</th>
                    <th>Type Service</th>
                    <th>Test</th>
                    <th>Markers</th>
                    <th>Exclusions</th>
                    <th>Genotype</th>
                    <th>Qualified</th>
                    <th>Relationship</th>
                    <th>New ?</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="dnapan in dnapanel">
                    <td><span ng-bind="dnapan.Ranagainst"></span></td>
                    <td><span ng-bind="dnapan.memberno"></span></td>
                    <td><span ng-bind="dnapan.SampleID"></span></td>
                    <td><span ng-bind="dnapan.Animal"></span></td>
                    <td><span ng-bind="dnapan.PrivateHerd"></span></td>
                    <td><span ng-bind="dnapan.TypeService"></span></td>
                    <td><span ng-bind="dnapan.Test"></span></td>
                    <td><span ng-bind="dnapan.Markers"></span></td>
                    <td><span ng-bind="dnapan.Exclusions"></span></td>
                    <td><span ng-bind="dnapan.Genotype"></span></td>
                    <td>
                      <input type="checkbox" ng-model="dnapan.Qualified">
                    </td>
                    <td><span ng-bind="dnapan.Relationship"></span></td>
                    <td>
                      <input type="checkbox" ng-model="dnapan.New">
                    </td>
                    <td style="white-space: nowrap;">
                      <i class="btn btn-warning fa fa-edit" ng-click="ShowAddreg(0)"></i>
                      <i class="btn btn-danger fa fa-trash" ng-click="DeleteDNAPan(dnapan)"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="container" style="background-color: #d8ceb9;height:100%;padding: 10px;" ng-show="addregno1">
        <div>
          <span>Single Animal or All of one Member</span>
          <br>
          <label><input type="radio" name="single" ng-click="option='single'" ng-init="option='single'">Single Animal</label><br>
          <label><input type="radio" name="single" checked="true" ng-click="option='multiple'">Select Animal from List</label><br>
        </div>
        <div ng-show="option ==='single'">
          <label>Reg No to Verify : </label>
          <input type="text" ng-model="single.txtRegNo">
          <input ng-hide="true" type="text" ng-model="showregeditadd">
          <button type="button" ng-click="CheckSingle(single,editanimal,showregeditadd)">Check</button>
          <button type="button" ng-click="AddToList()">Add to List</button>
          <button type="button" ng-click="addregno=false;addtolist=true;addregno1=false">Exit</button>
        </div>
        <div ng-show="option ==='multiple'">
          <label>Members</label>
          <input class="form-control" type="text" ng-model="multiplelist.member" list="names">
            <datalist id="names" ng-model="MemberNumber">
              <option ng-repeat="member in members | filter:multiplelist.member | limitTo:8" value="{{member.MemberNumber}} - {{member.MemberName}}"></option>
            </datalist>
          <br>
          <label><input ng-model="multiplelist.gender" value="Cow" type="radio" name="gender">Cow</label>
          <label><input ng-model="multiplelist.gender" value="Bull" type="radio" name="gender">Bull</label>
          <label><input ng-model="multiplelist.gender" value="Both" type="radio" name="gender">Both</label>
          <label>Quick List :</label>
          <select ng-model="multiplelist.quick">
            <option value="">--Select One</option>
            <option ng-repeat="list in lists" value="{{list.ListId}}">{{list.ListName}}</option>
          </select>
          <br>
          <button type="button" ng-click="MultipleList(multiplelist,editanimal)">View List</button>
          <button type="button" ng-click="addregno=false;addtolist=true;addregno1=false">Exit</button>
          <br>
          <div ng-if="mls">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered nowrap" width="100%">
                    <thead>
                      <tr>
                        <th></th>
                      </th>
                      <th>Reg No</th>
                      <th>Animal</th>
                      <th>Type</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="ml in mls">
                      <td>
                        <input type="checkbox" ng-model="ml.check" ng-change="Checkml(ml,editanimal)" ng-true-value="{{ 1 | json }}" ng-false-value="{{ 0 | json }}">
                      </td>
                      <td><span ng-bind="ml.RegNo"></span></td>
                      <td><span ng-bind="ml.Animal"></span></td>
                      <td><span ng-bind="ml.TypeService"></span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <br>
          <button type="button" ng-click="Submitml()">Submit</button>
          <button type="button" ng-click="Exitml()">Exit</button>
        </div>
      </div>
    </div>
    <div class="container" style="background-color: #d8ceb9;height:100%;padding: 10px;" ng-hide="addtolist">
      <div>
        <h3>Add to List</h3>
        <hr>
        <label><input type="radio" name="add">New List</label>
        <input type="input" ng-model="addlist.quick">
        <br>
        <button type="button" ng-click="AddtoNewList(addlist,single)">Submit</button>
        <hr>
        <label><input type="radio" name="add" checked="true" ng-click="option='add'" ng-init="option='add'">Add to List</label><br>
        <label><input type="radio" name="add" ng-click="option='replace'" ng-init="option='multiple'">Replace list</label><br>
      </div>
      <div ng-show="option ==='add'">
        <label>Add to List: </label>
        <select ng-model="addnewfromlist.quick">
          <option value="">--Select One</option>
          <option ng-repeat="quicklist in quicklists" value="{{quicklist.ListId}}">{{quicklist.ListName}}</option>
        </select>
        <br>
        <button type="button" ng-click="AddtoNewList1(addnewfromlist,single)">Submit</button>
        <button type="button" ng-click="addregno=true;addtolist=true;addregno1=true">Exit</button>
      </div>
      <div ng-show="option ==='replace'">
        <label>Replace</label>
        <select ng-model="addnewfromlist.quick">
          <option value="">--Select One</option>
          <option ng-repeat="quicklist in quicklists" value="{{quicklist.ListId}}">{{quicklist.ListName}}</option>
        </select>
        <br>
        <button type="button" ng-click="AddtoNewList2(addnewfromlist,single)">Submit</button>
        <button type="button" ng-click="addregno=true;addtolist=true;addregno1=true">Exit</button> 
      </div>
    </div>
  </div>
  <div id="previousOwners11" class="tab-pane fade align">
    <div class="container col-md-12" style="background-color: #d8ceb9;height:100%;padding: 10px;">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped table-bordered nowrap" datatable="ng" dt-options="vm.dtOptions" dt-instance="vm.dtInstance" width="100%">
              <thead>
                <tr>
                  <th>Member Number</th>
                  <th>Previous Owner</th>
                  <th>Sales Date</th>
                  <th>Ranch Name</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="preowner in previousowner">
                  <td><span ng-bind="preowner.PrevMember"></span></td>
                  <td><span ng-bind="preowner.MemberName"></span></td>
                  <td><span ng-bind="preowner.RanchName"></span></td>
                  <td><span ng-bind="preowner.SaleDate"></span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="offspringinanimal11" class="tab-pane fade align">
    <div class="container col-md-12" style="background-color: #d8ceb9;height:100%;padding: 10px;">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped table-bordered nowrap" datatable="ng" dt-options="vm.dtOptions" dt-instance="vm.dtInstance" width="100%">
              <thead>
                <tr>
                  <th>Offspring</th>
                  <th>Animal</th>
                  <th>Description</th>
                  <th>Birthdate</th>
                  <th>Type</th>
                  <th>Member Name</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="offsprin in offspring">
                  <td><span ng-bind="offsprin.RegNo"></span></td>
                  <td><span ng-bind="offsprin.Animal"></span></td>
                  <td><span ng-bind="offsprin.Description"></span></td>
                  <td><span ng-bind="offsprin.Birthdate"></span></td>
                  <td><span ng-bind="offsprin.TypeService"></span></td>
                  <td><span ng-bind="offsprin.MemberName"></span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="eidinfoanimal11" class="tab-pane fade align">
    <div class="container col-md-12" style="background-color: #d8ceb9;height:100%;padding: 10px;">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped table-bordered nowrap" datatable="ng" dt-options="vm.dtOptions" dt-instance="vm.dtInstance" width="100%">
              <thead>
                <tr>
                  <th>EID</th>
                  <th>Dentition</th>
                  <th>Applied</th>
                  <th>Regno</th>
                  <th>Herd</th>
                  <th>Birthdate</th>
                  <th>Color</th>
                  <th>Description</th>
                  <th>Owner</th>
                  <th>Veterinarian</th>
                  <th>Clinic</th>
                  <th>Notes</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="eidinfo in eidinformation">
                  <td><span ng-bind="eidinfo.EID"></span></td>
                  <td><span ng-bind="eidinfo.Dentition"></span></td>
                  <td><span ng-bind="eidinfo.DateApplied | date : 'MM/dd/yyyy'"></span></td>
                  <td><span ng-bind="eidinfo.RegNo"></span></td>
                  <td><span ng-bind="eidinfo.PrivateHerd"></span></td>
                  <td><span ng-bind="eidinfo.birthdate | date : 'MM/dd/yyyy'"></span></td>
                  <td><span ng-bind="eidinfo.color"></span></td>
                  <td><span ng-bind="eidinfo.description"></span></td>
                  <td><span ng-bind="eidinfo.Owner"></span></td>
                  <td><span ng-bind="eidinfo.Veterinarian"></span></td>
                  <td><span ng-bind="eidinfo.Clinic"></span></td>
                  <td><span ng-bind="eidinfo.Notes"></span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="earninganiamal11" class="tab-pane fade align">
    <div class="container col-md-12" style="background-color: #d8ceb9;height:100%;padding: 10px;">
      <form class="form-group">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <label>Event Name</label>
            <input type="text" class="form-control" ng-model="addearnings.name">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <label>Date</label>
            <input type="date" ng-model-options="{timezone: 'UTC'}" class="form-control" ng-model="addearnings.date">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <label>Placing</label>
            <input type="text" class="form-control" ng-model="addearnings.placing">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <label>Score</label>
            <input type="date" ng-model-options="{timezone: 'UTC'}" class="form-control" ng-model="addearnings.score">
          </div>
        </div>  
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <label> Money Earned  </label>
            <input type="text" class="form-control" ng-model="addearnings.money">
          </div>
        </div> 
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button type="button" class="btn btn-color" ng-click="AddEarnings(addearnings,editanimal)">Add</button>
          </div>
        </div>  
      </form>
    </div>
    <div class="container col-md-12" style="background-color: #d8ceb9;height:100%;padding: 10px;">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped table-bordered nowrap" datatable="ng" dt-options="vm.dtOptions" dt-instance="vm.dtInstance" width="100%">
              <thead>
                <tr>
                  <th>Event Name</th>
                  <th>Date</th>
                  <th>Placing</th>
                  <th>Score</th>
                  <th>$ Earned</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="earning in earnings">
                  <td>
                    <span ng-hide="uearn" ng-bind="earning.EventName"></span>
                    <input ng-show="uearn" class="form-control" type="text" ng-model="earning.EventName">
                  </td>
                  <td>
                    <span ng-hide="uearn" ng-bind="earning.EventDate"></span>
                    <input ng-show="uearn" class="form-control" type="text" ng-model="earning.EventDate">
                  </td>
                  <td>
                    <span ng-hide="uearn" ng-bind="earning.Placing"></span>
                    <input ng-show="uearn" class="form-control" type="text" ng-model="earning.Placing">
                  </td>
                  <td>
                    <span ng-hide="uearn" ng-bind="earning.Score"></span>
                    <input ng-show="uearn" class="form-control" type="text" ng-model="earning.Score">
                  </td>
                  <td>
                    <span ng-hide="uearn" ng-bind="earning.MoneyEarned"></span>
                    <input ng-show="uearn" class="form-control" type="text" ng-model="earning.MoneyEarned">
                  </td>
                  <td style="white-space: nowrap;">
                    <i class="btn btn-warning fa fa-edit" ng-hide="uearn" ng-click="uearn=true"></i>
                    <i class="btn btn-primary fa fa-check" ng-show="uearn" ng-click="uearn=false"></i>
                    <i class="btn btn-danger fa fa-trash"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>