<div>
  <h2 class="text-center" style="background-color:#503219; color:#fff; padding:5px; min-width:100px;">Event Without EID</h2>
</div>
<div class="container" style="height:100%;width:90%;padding: 10px;">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-striped table-bordered nowrap" datatable="ng" dt-options="vm.dtOptions" dt-instance="vm.dtInstance" width="100%" ng-init="AnimalWoEid()">
          <thead>
            <tr>
              <th>Member Number</th>
              <th>Member Name</th>
              <th>Reg No</th>
              <th>Animal</th>
              <th>Private Herd</th>
              <th>Deliver</th>
              <th>Event Id</th>
              <th>Event Name</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="awe in awes">
              <td><span ng-bind = "awe.MemberNumber"></span></td>
              <td><span ng-bind = "awe.MemberName"></span></td>
              <td><span ng-bind = "awe.RegNo"></span></td>
              <td><span ng-bind = "awe.Animal"></span></td>
              <td><span ng-bind = "awe.PrivateHerd"></span></td>
              <td><span ng-bind = "awe.Deliver"></span></td>
              <td><span ng-bind = "awe.EventID"></span></td>
              <td><span ng-bind = "awe.EventTitle"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>