<style>
body {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    color: #111111;
    word-wrap: break-word;
    margin: 0;
    background-color: whitesmoke;
}
a:hover{
      color: darkred!important;
      text-decoration: none;
    }
    h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 500;
}
.headerbar {
    background-color: #325d81;
    color: whitesmoke;
    margin: 0;
    padding: 10px;
    font-size: 17px;
}
.blankbar {
    border-radius: 6px;
    padding: 2px 5px 2px 5px;
}
.pg-sec {
    padding-left: 0;
    margin-top: 0;
    display: block;
    list-style-type: disc;
    width: 295px;
}
li {
    margin-bottom: 0.5rem;
    list-style: none;
    display: list-item;
    text-align: -webkit-match-parent;
}
.ABBI {
    background-color: #ccd9ea;
}
.marginate {
    margin-top: 5px;
    margin-bottom: 5px;
}
.menubar {
    padding-left: 7px;
    border-radius: 6px;
}
.bigline {
    font-size: 125%;
}
.menubar:hover {
    background-color: #d0ffff;
}
</style>
<div class="container" style="background-color: #dedede!important;box-sizing: border-box;border: 1px solid slategrey;padding: 10px;margin-bottom: 1rem;margin-top: 1rem;
height:100%;width:90%;padding: 10px;height: 90px;">
  <p class="medline menucolor" id="blankbar" >
    <span class="fancyline biggerline" style="font-size: 150%;">ABBI Competition Admin</span><br>
    <a style="color: darkblue; text-decoration: none; background-color: transparent!important; font-size: 17px; " href="http://localhost/admin/home#!/eventhome">home</a> |
     <a style="color: darkblue; text-decoration: none; background-color: transparent!important; font-size: 17px; " href="http://localhost/admin/home#!/pastevent">past events</a> | 
<a  style="color: darkblue; text-decoration: none; background-color: transparent!important; font-size: 17px;"  href="http://localhost/admin/home#!/addevent">add event</a> |
 <a style="color: darkblue; text-decoration: none; background-color: transparent!important; font-size: 17px; " href="http://localhost/admin/home#!/classlink">Link 2 Classes</a> |
 <a style="color: darkblue; text-decoration: none; background-color: transparent!important; font-size: 17px; " href="http://localhost/admin/home#!/bullboss">animals</a> |
 <a style="color: darkblue; text-decoration: none; background-color: transparent!important; font-size: 17px; " href="http://localhost/admin/home#!/handlerlist">handlers</a> |
 <a style="color: darkblue; text-decoration: none; background-color: transparent!important; font-size: 17px; " href="http://localhost/admin/home#!/program">programs</a></p>
</div>
<div class="container" style="background-color: #d8ceb9;height:100%;width:90%;padding: 0;margin-top: 0;margin-bottom:10px">
  <h5 class="fancyline headerbar">ABBI Competition Programs</h5>
</div>
<div class="container" style="background-color: #f1f1f1!important;height:100%;width:90%;padding: 0;margin-top: 0;">
  <div class="blankbar"><ul class="pg-sec">
    <li>
      <a style=" color: darkblue; text-decoration: none; background-color: transparent !important;" href="/competition/boss/program_data.php?report=leg&amp;season=2020"></a>
    </li>
    <li class="ABBI menubar bigline marginate">
      <a style=" color: darkblue; text-decoration: none; background-color: transparent !important;" href="/competition/boss/program_data.php?report=leg&amp;season=2020">TwoBulls Legacy 2020</a>
    </li>
    <li>
      <a style=" color: darkblue; text-decoration: none; background-color: transparent !important;" href="/competition/boss/program_data.php?report=leg&amp;season=2021"></a>
    </li>
    <li class="ABBI menubar bigline marginate">
      <a style=" color: darkblue; text-decoration: none; background-color: transparent !important;" href="/competition/boss/program_data.php?report=leg&amp;season=2021">TwoBulls Legacy 2021</a>
    </li>
    <li>
      <a style=" color: darkblue; text-decoration: none; background-color: transparent !important;" href="/competition/boss/program_data.php?report=my&amp;season=2021"></a>
    </li>
    <li class="ABBI menubar bigline marginate">
      <a style=" color: darkblue; text-decoration: none; background-color: transparent !important;" href="/competition/boss/program_data.php?report=my&amp;season=2021">Maiden Yearling Slots 2021</a>
    </li>
  </ul>
</div>
</div>