<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Sandeep Siva">
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <meta name="keywords" content="bull,futurity, classic, American,bucking,events,schedule,calendar,line-up,lineup" />
  <meta name="description" content="American Bucking Bull, Inc. is the leading bucking cattle DNA registry in the world. ABBI holds and sanctions competitive events for Classic (3 and 4-year-old) and Futurity (2-year-old) bucking bulls, along with other competition formats.  ABBI paid out over $1.7 million dollars in 2010. Over $800,000 was paid out in prize money to ABBI bulls at the 2010 Las Vegas ABBI Finals alone." />
  <title>
    American Bucking Bull, Inc. | About
  </title>
  <!-- Favicons -->
  <link href="images/about/icon.jpg" rel="icon">
  <script src="angular/js/slim.min.js"></script>
  <script src="angular/js/popper.min.js"></script>
  <script src="angular/js/bootstrap.min.js"></script>
  <!-- Google Fonts -->
  <link href="angular/css/font.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="angular/css/all.min.css">
  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="angular/css/font-awesome.min.css">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="stylesheets/registration.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
</head>
<body>
  <div class="header agileinfo-header fixed-top" >
    <nav class="navbar navbar-expand-sm " style="color: black;background-color: white;  border-bottom: solid;" >
      <a href="/" class="logo mr-auto"><img src="https://lirp-cdn.multiscreensite.com/df1b0f02/dms3rep/multi/opt/abbi_logo_color2-640w.png" alt="American Bucking Bull" class="img-fluid"></a> 
      <!--Toggle Button-->
      <button class="navbar-toggler btn btn-default" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars" style="color: black;"></span></button>
      <!--Navbar links-->
      <div class="collapse navbar-collapse text-center" id="navbarResponsive">
        <div class="navbar-nav  w-77 mx-auto nav-menu ">      
          <a  class="nav-link "href="/about" title="ABOUT US" style="padding-right: 33px;">ABOUT US</a>
          <a  class="nav-link  " href="/events" title="events"  style="padding-right: 82px; padding-left: 42px;">EVENTS</a>
          <a  class="nav-link  " href="/registration" title="registration" style="padding-right: 33px; padding-left: 42px;"  >REGISTRATION</a>     
        </div>
        <div class="navbar-nav ml-auto">
          <!--Social Media Icons-->
          <div class="nav-item " style="font-size: 2rem;">       
            <a style="color: royalblue;"  target="_blank" class="fa fa-facebook-f"></a>
            <a style="color: dodgerblue;"  target="_blank" class="fa fa-twitter"></a>
            <a  style="color: crimson;" target="_blank" class="fa fa-instagram"></a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
<!-- End Header -->
<div class="responsive-bg-w-text">
  <div class="header">About us</div>
</div>
<hr>
<main id="main">
  <!-- ======= Our Mission Section ======= -->
  <section id="our-mission" class="our-mission">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2><span>OUR MISSION</span></strong></h2>
      </div>
      <div class="row content">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="images/about/mission.webp" height="100%" width="100%" alt="ABBI">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0" data-aos="fade-left">
          <p>
            We Are in the Business To:
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> Record and preserve the pedigrees of the world’s premier bucking bull livestock while maintaining the integrity and enhancing the value of the breed.</li>
            <li><i class="ri-check-double-line"></i> Provide beneficial services for ABBI members that enhance and encourage “best practices” in bucking bull ownership, breeding, training and welfare.</li>
            <li><i class="ri-check-double-line"></i> Generate interest and growth in ABBI through registered cattle ownership, membership, education, sponsorship and involvement through marketing, promotion, advertising and publicity of the bucking bull breed and ABBI benefits, services and events.</li>
            <li><i class="ri-check-double-line"></i>Develop diverse and comprehensive programs and events that will educate and familiarize owners, members and the general public in the unique heritage and qualities of bucking bull livestock.</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</section><!-- End Our Mission Section -->
<hr>
<!-- ======= Our History Section ======= -->
<section id="our-history" class="our-history">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2><span>OUR HISTORY</span></strong></h2>
    </div>
    <div class="row content">   
      <div class="col-lg-8 pt-4 pt-lg-0" data-aos="fade-left">
        <p>
          ABBI: A Look Back
        </p>
        <p>The Rich History of American Bucking Bull, Inc.</p>
        <p>PBR (Professional Bull Riders Inc.) and a visionary group of stock contractors acquired a DNA Registry formerly known as RSR (Rodeo Stock Registry) in 2003. They understood the value and importance of preserving bucking bull genetics. This database was the foundation of American Bucking Bull Inc. (ABBI) and that registry that would swell from 20,000 to over 180,000 animals in just over a decade.</p>
        <p>In addition to preserving the genetics of animal athletes, ABBI was determined to develop stand-alone events where the bulls would be judged on their own merits (regardless of how the cowboy atop them did). The combination of the database and events for animal athletes lead to huge paydays and the explosion of bucking bull breeding programs across the country.</p>
        <p>At one time, the biggest payday a bull could hope to earn was $20,000 for being selected World Champion Bucking Bull. Nowadays animals can earn as much as $500,000 between their 2 and 4-year-old years competing at ABBI events.</p>
        <p>ABBI now has the world's largest bucking cattle registry and is the leading bucking bull event promoter and producer. Some of the greatest bulls in the history of the sport, including Bushwacker, have come out of the ABBI's competition system.</p>
        <p>ABBI is owned 50/50 between PBR and a group of stock contractor shareholders. It is governed by a Board of Directors made up of PBR representatives and ABBI stock contractors.</p>
      </div>
      <div class="col-lg-4" data-aos="fade-right">
        <img src="images/about/history.jpg" height="100%" width="100%" alt="ABBI">
      </div>
    </div>
  </div>
</section><!-- End Our History Section -->
<hr>
<!-- ======= Our Staff ======= -->
<section id="our-staff" class="our-staff">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2><span>MEET OUR STAFF</span></strong></h2>
    </div>
    <div class="row content">        
      <div class="col-lg-12 pt-4 pt-lg-0" data-aos="fade-left">
        <section class="team" id="team">
          <div class="container text-center">
            <div class="row">
              <!-- Box-1 -->
              <div class="col-lg-3 col-md-6">
                <div class="box">
                  <div class="image">
                    <img src="images/staff/jay.webp" alt="team" class="img-fluid">
                    <div class="overlay"></div>
                  </div>
                  <h3>JAY</h3>
                  <h4>President</h4>
                </div>
              </div>
              <!-- Box-2 -->
              <div class="col-lg-3 col-md-6">
                <div class="box">
                  <div class="image">
                    <img src="images/staff/marlissa.webp" alt="team" class="img-fluid">
                    <div class="overlay"></div>
                  </div>
                  <h3>MARLISSA</h3>
                  <h4>Registry Director</h4>
                </div>
              </div>
              <!-- Box-3 -->
              <div class="col-lg-3 col-md-6">
                <div class="box">
                  <div class="image">
                    <img src="images/staff/linda.webp" alt="team" class="img-fluid" style="width:137px;">
                    <div class="overlay"></div>
                  </div>
                  <h3>LINDA</h3>
                  <h4>Controller</h4>
                </div>
              </div>
              <!-- Box-4 -->
              <div class="col-lg-3 col-md-6">
                <div class="box">
                  <div class="image">
                    <img src="images/staff/jordan.webp" alt="team" class="img-fluid">
                    <div class="overlay"></div>
                  </div>
                  <h3>JORDAN</h3>
                  <h4>Director of Communications</h4>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <!-- Box-1 -->
              <div class="col-lg-4 col-md-6">
                <div class="box">
                  <div class="image">
                    <img src="images/staff/kyle.webp" alt="team" class="img-fluid">
                    <div class="overlay"></div>
                  </div>
                  <h3>KYLE</h3>
                  <h4>Production Manager</h4>
                </div>
              </div>
              <!-- Box-2 -->
              <div class="col-lg-4 col-md-6">
                <div class="box">
                  <div class="image">
                    <img src="images/staff/slade.webp" alt="team" class="img-fluid">
                    <div class="overlay"></div>
                  </div>
                  <h3>SLADE</h3>
                  <h4>Statistician / Judging</h4>
                </div>
              </div>
              <!-- Box-3 -->
              <div class="col-lg-4 col-md-6">
                <div class="box">
                  <div class="image">
                    <img src="images/staff/rebecca.webp" alt="team" class="img-fluid">
                    <div class="overlay"></div>
                  </div>
                  <h3>REBECCA</h3>
                  <h4>Senior Manager of Competition</h4>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section><!-- End Our History Section -->
<hr>
<!-- ======= Our ABBI Section ======= -->
<section id="our-abbi" class="our-abbi">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2><span>Dress the part, get your ABBI gear now!</span></strong></h2>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <figure class="snip1084 blue">
          <img src="images/about/abbigear.jpg" alt="sample43" />
          <figcaption>
            <h2>ABBI GEAR</h2>
            <p>Visit abbigear.com for all American Bucking Bull Inc. merchandise including shirts, ball caps, jackets, decals, patches and more!</p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>
    </div>
  </section><!-- End Our History Section -->
  <hr>
  <!-- ======= Our col Section ======= -->
  <section id="our-col" class="our-col">
    <div class="container">
      <div class="row col-md-10 col-md-offset-1">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <p class="box">
                <b>ADDRESS</b><br>
                <span class="landmark">101 W. Riverwalk</span><br>
                <span>Pueblo, Colorado 81003</span>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="box">
                <b>BUSINESS HOURS</b><br>
                <span>Monday - Friday 9am to 5pm</span><br>
                <span>Mountain Standard Time</span>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="box">
                <b>TELEPHONE</b><br>
                <span>Office:</span><span class="landmark">(719) 242-2747</span><br>
                <span>FAX: (719) 242-2746</span>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="box">
                <b>EMAIL</b><br>
                <span class="landmark">info@americanbuckingbull.com</span><br>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-12">
            <b>DROP US A LINE SO THAT WE CAN HEAR FROM YOU</b>
            <form class="form-group">
              <label>Name :</label>
              <input type="text" class="form-control">
              <label>Email :</label>
              <input type="text" class="form-control">
              <label>Phone :</label>
              <input type="text" class="form-control">
              <label>Message :</label>
              <textarea class="form-control" rows="4"></textarea>
              <br>
              <button class="btn btn-default float-right">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Our History Section -->
  <hr>
</main><!-- End #main -->
<!-- ======= Our map Section ======= -->
<section id="our-abbi" class="our-abbi">
  <div class="container col-md-12 col-lg-12 col-sm-12 col-xs-12" data-aos="fade-up">
    <div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100230.52119799324!2d-104.72169850178877!3d38.27476863236883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8713a26094fa3369%3A0x80133d52db82b5d9!2sPueblo%2C%20CO%2081003%2C%20USA!5e0!3m2!1sen!2sin!4v1608369684389!5m2!1sen!2sin" height="500" frameborder="0" style="border:0; width:100%" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>
</section><!-- End Our map Section -->
<hr>
<!-- ======= Our FAQ Section ======= -->
<section id="our-faq" class="our-faq">
  <div class="container col-md-12" data-aos="fade-up">
    <div class="section-title">
      <h2><span>Frequently Asked Questions</span></strong></h2>
    </div>
    <div class="row col-md-12">
      <div id="accordion">
        <div class="question">
          <header>
            <h5>How much is a bucking bull worth?</h5>
            <i class="fas fa-chevron-down"></i>
          </header>
          <main>
            <p>A young animal with DNA-verfied parentage can be worth as much as $100,000 if he has superstar bloodlines. A proven bucking bull can be worth as much as $500,000. You can get started in the industry by buying a quality DNA-verified cow and bull for several thousand apiece. </p>
          </main>
        </div>
        <div class="question">
          <header>
            <h5>Why do bloodlines matter?</h5>
            <i class="fas fa-chevron-down"></i>
          </header>
          <main>
            <p>Just like great racehorses are more likely to produce winning offspring, so are bucking bulls. Tracking the genetics that are successful allows us to know what matings result in athletically gifted animals. DNA also allows owners to prove their animal's genetics- making them more valuable. </p>
          </main>
        </div>
        <div class="question">
          <header>
            <h5>Can you "make" them buck?</h5>
            <i class="fas fa-chevron-down"></i>
          </header>
          <main>
            <p>No, it is an inherent behavior. The American Bucking Bull is recognized as a distinct breed based on it's behavior (bucking). Animals can be trained, but you can't make an animal a successful athlete if he has no desire to buck. </p>
          </main>
        </div>
        <div class="question">
          <header>
            <h5>How much can they win?</h5>
            <i class="fas fa-chevron-down"></i>
          </header>
          <main>
            <p>The Classic champion earns $200,000 in Las Vegas each fall. In 2015, ABBI paid out $2.4 million in event prize money. Black Pearl, a former Champion, won nearly $500,000 just in his three years competing in the ABBI. </p>
          </main>
        </div>
        <div class="question">
          <header>
            <h5>What are the divisions or classifications?</h5>
            <i class="fas fa-chevron-down"></i>
          </header>
          <main>
            <p>Futurities are for bulls age 2. Classics are for 3 and 4-year-olds, whereas a Derby is strictly for 3-year-olds. A Maturity is for any animal 5 and older. Events with bulls age 3 and up are typically held in conjunction with a PBR event.  A Yearling Futurity is for animals approaching two years of age. All Futurity bulls buck with a dummy (box) on their back that is released via remote control at 4 seconds. The older bulls face off against cowboys, who try to make it to 8 seconds atop them.</p>
          </main>
        </div>
        <div class="question">
          <header>
            <h5>Does the flank strap hurt them?</h5>
            <i class="fas fa-chevron-down"></i>
          </header>
          <main>
            <p>One of the most common misconceptions about bull riding is that the flank strap is tied to the animal’s testicles; this is far from the truth. The flank strap is a soft rope that is loosely tied around the bull’s midsection in the flank area and slipped onto the bull when it enters the alley to the chute. The slack is taken out of it before the ride, but not tied too tight, and the strap is removed immediately after the ride.</p>
          </main>
        </div>
        <div class="question">
          <header>
            <h5>What about animal welfare?</h5>
            <i class="fas fa-chevron-down"></i>
          </header>
          <main>
            <p>ABBI has strict rules and guidelines and bans members who do not follow these rules. A vet is also on-site at bigger events, and on-call at smaller venues. These animals are treated like athletes and often considered to be part of the family they belong to. They receive top-notch care which can even include acupuncture, chiropractic and specialized diets.</p>
          </main>
        </div>
        <div class="question">
          <header>
            <h5>Do you work with the PBR (Professional Bull Riders)?</h5>
            <i class="fas fa-chevron-down"></i>
          </header>
          <main>
            <p>PBR owns half of ABBI. Classic bulls are used at many Built Ford Tough Series events and on the BlueDEF Velocity Tour. Just as PBR is dedicated to making the sport more lucrative for bull riders, ABBI is dedicated to growing the sport and prize money for the bull owners.  </p>
          </main>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Our History Section -->
<hr>
<!-- ======= Our pp Section ======= -->
<section id="our-pp" class="our-pp">
  <div class="container col-md-12" data-aos="fade-up">

    <div class="section-title">
      <h2><span>Privacy Policy</span></strong></h2>
    </div>
    <div class="row col-md-12">
      <div id="accordion">
        <div class="question">
          <header>
            <h5>We Care About Your Security and Personal Information</h5>
            <i class="fas fa-chevron-down"></i>
          </header>
          <main>
            <p>Thank you for visiting the ABBI website. This privacy policy tells you how we use personal information collected at this site. Please read this privacy policy before using the site or submitting any personal information. By using the site, you are accepting the practices described in this privacy policy. These practices may be changed, but any changes will be posted and changes will only apply to activities and information on a going forward, not retroactive basis. You are encouraged to review the privacy policy whenever you visit the site to make sure that you understand how any personal information you provide will be used.</p>
            <p>Note: The privacy practices set forth in this privacy policy are for this website only. If you link to other websites, please review the privacy policies posted at those sites. </p>
          </main>
        </div>
        <div class="question">
          <header>
            <h5>Collection of Information</h5>
            <i class="fas fa-chevron-down"></i>
          </header>
          <main>
            <p>We collect personally identifiable information, like names, postal addresses, email addresses, etc., when voluntarily submitted by our visitors. The information you provide is used to fulfill you specific requests and orders. This information is only used to fulfill your specific request, unless you give us permission to use it in another manner, for example to add you to one of our mailing lists.</p>
          </main>
        </div>
        <div class="question">
          <header>
            <h5>Cookie/Tracking Technology</h5>
            <i class="fas fa-chevron-down"></i>
          </header>
          <main>
            <p>The site may use cookie and tracking technology depending on the features offered. Cookie and tracking technology are useful for gathering information such as browser type and operating system, tracking the number of visitors to the site, and understanding how visitors use the site. Cookies can also help customize the site for visitors. Personal information cannot be collected via cookies and other tracking technology, however, if you previously provided personally identifiable information, cookies may be tied to such information. Aggregate cookie and tracking information may be shared with third parties.</p>
          </main>
        </div>
        <div class="question">
          <header>
            <h5>Distribution of Information</h5>
            <i class="fas fa-chevron-down"></i>
          </header>
          <main>
            <p>We may share information with governmental agencies or other companies assisting us in fraud prevention or investigation. We may do so when: (1) permitted or required by law; or, (2) trying to protect against or prevent actual or potential fraud or unauthorized transactions; or, (3) investigating fraud which has already taken place. The information is not provided to these companies for marketing purposes. </p>
          </main>
        </div>
        <div class="question">
          <header>
            <h5>Commitment to Data Security</h5>
            <i class="fas fa-chevron-down"></i>
          </header>
          <main>
            <p>Your personally identifiable information is kept secure. Only authorized employees, agents and contractors (who have agreed to keep information secure and confidential) have access to this information. All emails and newsletters from this site allow you to opt out of further mailings.</p>
          </main>
        </div>
        <div class="question">
          <header>
            <h5>Privacy Contact Information</h5>
            <i class="fas fa-chevron-down"></i>
          </header>
          <main>
            <p>If you have any questions, concerns, or comments about our privacy policy you may contact us using the information below:</p>
            <p>By e-mail: info@americanbuckingbull.com</p>
            <p>By Phone: (719) 242-2747</p>
            <p>We reserve the right to make changes to this policy. Any changes to this policy will be posted.</p>
          </main>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Our pp Section -->
<hr>
<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>CONTACT INFO</h3>
          <p>
            <strong class="landmark">101 W. Riverwalk<br></strong>
            <strong class="landmark">Pueblo, Colorado 81003<br></strong>
            <strong>Phone : <span class="landmark">(719) 242-2747</span><br></strong>
            <strong>FAX : (719) 242-2746<br></strong>
            <strong>Email: <span class="landmark">info@americanbuckingbull.com</span></strong>
          </p>
        </div>
        <div class="col-lg-2 col-md-6 footer-links">
          <h4>OUR COMPANY</h4>
          <p>
            <ul>
              <li><a href="#"><strong class="landmark">About ABBI</strong></a></li>
              <li><a href="#"><strong class="landmark">Press Room</strong></a></li>
              <li><a href="#"><strong class="landmark">Contact Us</strong></a></li>
              <li><a href="#"><strong class="landmark">Privacy Policy</strong></a></li>
              <li><a href="#"><strong class="landmark">2020 Rule Book</strong></a></li>
            </ul>
          </p>
        </div>
        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>MEMBERS AREA</h4>
          <p><strong>Login to the Members Area to see your animal inventory, manage your profile and make payments.</strong></p>
          <ul>
            <li><a href="#"><strong class="landmark">Login Now</strong></a></li>
            <li><a href="#"><strong class="landmark">Join ABBI</strong></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container d-md-flex py-4">
    <div class="mr-md-auto text-center text-md-left">
      <div class="copyright">
        &copy; Copyright <strong><span> IntegrityTek 2018</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/company-free-html-bootstrap-template/ -->
        Designed by <a href="https://integrity-tek.com/" target="_blank"><span style="color: orange">IntegrityTek</span></a>
      </div>
    </div>
  </div>
</footer><!-- End Footer -->
<a href="#" class="back-to-top"><i class="fa fa-arrow-up"></i></a>
<!-- Vendor JS Files -->
<script src="assets/vendor/jquery/jquery.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>
<script src="assets/vendor/jquery-sticky/jquery.sticky.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/venobox/venobox.min.js"></script>
<script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
<script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script type="text/javascript" src="javascripts/faq.js"></script>
<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
</body>
</html>
