<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Sandeep Siva">
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <meta name="keywords" content="bull,futurity, classic, American,bucking,events,schedule,calendar,line-up,lineup" />
  <meta name="description" content="American Bucking Bull, Inc. is the leading bucking cattle DNA registry in the world. ABBI holds and sanctions competitive events for Classic (3 and 4-year-old) and Futurity (2-year-old) bucking bulls, along with other competition formats.  ABBI paid out over $1.7 million dollars in 2010. Over $800,000 was paid out in prize money to ABBI bulls at the 2010 Las Vegas ABBI Finals alone." />
  <title>
    American Bucking Bull, Inc. | Programs
  </title>
  <!-- Favicons -->
  <link href="images/about/icon.jpg" rel="icon">
  <script src="angular/js/slim.min.js"></script>
  <script src="angular/js/popper.min.js"></script>
  <script src="angular/js/bootstrap.min.js"></script>
  <!-- Google Fonts -->
  <link href="angular/css/font.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="angular/css/all.min.css">
  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="angular/css/font-awesome.min.css">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="stylesheets/events.css" rel="stylesheet">
  <link href="stylesheets/registration.css" rel="stylesheet">
  <link href="stylesheets/programs.css" rel="stylesheet">
  <script>
  // Back to top button
  $(window).scroll(function() {
    if ($(this).scrollTop() > 100) {
      $('.back-to-top').fadeIn('slow');
    } else {
      $('.back-to-top').fadeOut('slow');
    }
  });
  $('.back-to-top').click(function() {
    $('html, body').animate({
      scrollTop: 0
    }, 1500, 'easeInOutExpo');
    return false;
  });
  </script>
</head>
<body>
  <!-- header -->
  <div class="header agileinfo-header fixed-top" >
    <nav class="navbar navbar-default " style="border-bottom: ridge;">
      <div>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h1>    <a href="/" class="logo mr-auto"><img src="https://lirp-cdn.multiscreensite.com/df1b0f02/dms3rep/multi/opt/abbi_logo_color2-640w.png" alt="American Bucking Bull" class="img-fluid"></a> 
          </h1>
        </div> 
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse  " id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-left "> 
           <a  href=/about  >About</a>   
           <a   href="/events">EVENTS</a>  
           <a   href="/registration">REGISTRATION</a>
         </ul>	   
         <div class="social-icon">
          <a href="#" class="social-button facebook" style="color: royalblue;"><i class="fa fa-facebook"></i></a> 
          <a href="#" class="social-button twitter" style="color: dodgerblue;" ><i class="fa fa-twitter"></i></a> 
          <a href="#" class="social-button google" style="color: crimson;"><i class="fa fa-instagram"></i></a>  
        </div> 
        <div class="clearfix"> </div>
      </div><!-- //navbar-collapse --> 
    </div><!-- //container-fluid -->
  </nav>
</div><!-- //header -->	
<hr>
  <!-- <section>
    <div class="wp-block-cover-image has-background-dim " style="background-image:url(./images/program/program.jpg);background-size:cover; ">
      <p class="wp-block-cover-image-text"><strong>ABBI Programs</strong></p>
    </div>
  </section> -->
  <div class="responsive-bg-w-text">
    <div class="header">ABBI Programs</div>
  </div>
  <br>
  <!-- buttons start -->
  <div class="row">
    <div class="col-sm-12 text-center">
      <a href="#ssip" id="btnSearchprg" class="btn  btn-md center-block">SUPER STAKES INCENTIVE PROGRAM</a>
      <a href="#bcp" id="btnClearprg" class="btn  btn-md center-block">BREEDER'S CERTIFICATE PROGRAM</a>
      <a href="#jm" id="btnSearchprg" class="btn  btn-md center-block">JUNIOR MEMBERSHIP</a>
    </div>
  </div>
  <!-- buttons end -->
  <div class="tab-content container">
    <div id="ssip">
      <div class="row">
        <h3 class="text-center"><b>SUPER STAKES INCENTIVE PROGRAM</b></h3>
        <br>
        <br>
        <h5><b>Want to increase your bucking stock’s market value? Enter Super Stakes!</b></h5>
        <p>Then you’ll want to be a part of the Super Stakes Program. This new program provides added incentive for Bucking Stock owners who buck their bulls in ABBI Events. The Super Stakes Program pays cash dividends for money earned by nominated bulls at ABBI-approved events.</p>
        <p>In fact, the Super Stakes Program is the most unique incentive program in the bucking stock industry today. Here are some of the program benefits</p>
        <ul>
          <li>Bull calves that are registered in their birth year by December 31 will have the opportunity to enter into the program for only $25.00/head</li>
          <li>As a bull calf gets nominated the sire and dam also gets nominated provided that both sire and dam are verified. </li>
          <li>Super Stakes money is divided and paid annually. Payouts are based on the total number money earned by the bulls at the end of the 2 Year Old Year, 3 Year Old Year and 4 Year Old Year.</li>
          <li>A complete list of nominated calves will be published annually in The American Bucking Bull, Inc. This is an added service to provide potential buyers with the information needed to make informed decisions when buying ABBI registered bulls.</li>
          <li>The calf will be listed as a Super Stake Participant in the registry.</li>
        </ul>
        <p>Information for Bull and Cow Owners</p>
        <p>This program highlights not only the calf but the dam and sire as well. This is a great way to increase the value of the sire or dam by enrolling their offspring into the program.</p>
        <h5><b>How to Enroll:</b></h5>
        <p>Just enter your calves online or by checking the box for Super Stakes when registering. </p>
        <h5><b>How is the amount of prize money awarded each year determined?</b></h5>
        <p>An ABBI bull has a competition career for three years. Based on that fact, the total money awarded in any year is determined by the amount of bull calf nominations in their birth year and then a percentage will be used for each year of competition.</p>
        <p>The $25.00/head is split up between sire, dam and calf.  As a calf is nominated $15.00 goes into the calf payout, $5.00 goes into the dam payout and $5.00 goes into the sire payout.</p>
        <p>2 Year Old Year - payout is 20% of bull calves nominated in the same birth year</p>
        <p>3 Year Old Year - payout is 30% of bull calves nominated in the same birth year</p>
        <p>4 Year Old Year – payout is 50% of bull calves nominated in the same birth year</p>
        <p>A minimal management fee may be taken out at time of payout.</p>
        <h5><b>Payout</b></h5>
        <p>Payout will occur every year the bull is competing in an ABBI event at the end of the season. Payout will be based on money won. Below is the possible payouts (management fees not excluded).</p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h5>Calf Payback Schedule(1st Place only)</h5>
          <table class="table table-bordered table-hovered table-striped">
            <thead>
              <tr>
                <th># of Entries</th>
                <th>2 Year Old Year</th>
                <th>3 Year Old Year</th>
                <th>4 Year Old Year</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>50</td>
                <td>$150.00</td>
                <td>$225.00</td>
                <td>$375.00</td>
              </tr>
              <tr>
                <td>150</td>
                <td>$300.00</td>
                <td>$450.00</td>
                <td>$750.00</td>
              </tr>
              <tr>
                <td>250</td>
                <td>$750.00</td>
                <td>$1125.00</td>
                <td>$1875.00</td>
              </tr>
              <tr>
                <td>350</td>
                <td>$1050.00</td>
                <td>$1575.00</td>
                <td>$2625.00</td>
              </tr>
              <tr>
                <td>500</td>
                <td>$1500.00</td>
                <td>$2250.00</td>
                <td>$3750.00</td>
              </tr>
              <tr>
                <td>750</td>
                <td>$2250.00</td>
                <td>$3375.00</td>
                <td>$5625.00</td>
              </tr>
              <tr>
                <td>1000</td>
                <td>$3000.00</td>
                <td>$4500.00</td>
                <td>$7500.00</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <h5>Sire and Dam Payout Schedule(1st Place Only)</h5>
          <table class="table table-bordered table-hovered table-striped">
            <thead>
              <tr>
                <th># of Entries</th>
                <th>2 Year Old Year</th>
                <th>3 Year Old Year</th>
                <th>4 Year Old Year</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>50</td>
                <td>$50.00</td>
                <td>$75.00</td>
                <td>$125.00</td>
              </tr>
              <tr>
                <td>150</td>
                <td>$150.00</td>
                <td>$225.00</td>
                <td>$375.00</td>
              </tr>
              <tr>
                <td>250</td>
                <td>$250.00</td>
                <td>$375.00</td>
                <td>$625.00</td>
              </tr>
              <tr>
                <td>350</td>
                <td>$350.00</td>
                <td>$525.00</td>
                <td>$875.00</td>
              </tr>
              <tr>
                <td>500</td>
                <td>$500.00</td>
                <td>$750.00</td>
                <td>$1250.00</td>
              </tr>
              <tr>
                <td>750</td>
                <td>$750.00</td>
                <td>$1125.00</td>
                <td>$1875.00</td>
              </tr>
              <tr>
                <td>1000</td>
                <td>$1000.00</td>
                <td>$1500.00</td>
                <td>$2500.00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <p>Payout may be based on 1 to 2 places depending on the amount of entries. Below are example payouts for 2 places with the sire and dam payouts included.</p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h5>Calf Payback Schedule(1st Place only)</h5>
          <table class="table table-bordered table-hovered table-striped">
            <thead>
              <tr>
                <th># of Entries</th>
                <th>2 Year Old Year</th>
                <th>3 Year Old Year</th>
                <th>4 Year Old Year</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>50</td>
                <td>$90.00</td>
                <td>$135.00</td>
                <td>$225.00</td>
              </tr>
              <tr>
                <td>150</td>
                <td>$270.00</td>
                <td>$405.00</td>
                <td>$675.00</td>
              </tr>
              <tr>
                <td>250</td>
                <td>$450.00</td>
                <td>$675.00</td>
                <td>$1125.00</td>
              </tr>
              <tr>
                <td>350</td>
                <td>$630.00</td>
                <td>$945.00</td>
                <td>$1575.00</td>
              </tr>
              <tr>
                <td>500</td>
                <td>$900.00</td>
                <td>$1350.00</td>
                <td>$2250.00</td>
              </tr>
              <tr>
                <td>750</td>
                <td>$1350.00</td>
                <td>$2025.00</td>
                <td>$3375.00</td>
              </tr>
              <tr>
                <td>1000</td>
                <td>$1800.00</td>
                <td>$2700.00</td>
                <td>$4500.00</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <h5>Calf Payback Schedule(2nd Place Only)</h5>
          <table class="table table-bordered table-hovered table-striped">
            <thead>
              <tr>
                <th># of Entries</th>
                <th>2 Year Old Year</th>
                <th>3 Year Old Year</th>
                <th>4 Year Old Year</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>50</td>
                <td>$60.00</td>
                <td>$90.00</td>
                <td>$150.00</td>
              </tr>
              <tr>
                <td>150</td>
                <td>$180.00</td>
                <td>$270.00</td>
                <td>$450.00</td>
              </tr>
              <tr>
                <td>250</td>
                <td>$300.00</td>
                <td>$450.00</td>
                <td>$750.00</td>
              </tr>
              <tr>
                <td>350</td>
                <td>$420.00</td>
                <td>$630.00</td>
                <td>$1050.00</td>
              </tr>
              <tr>
                <td>500</td>
                <td>$600.00</td>
                <td>$900.00</td>
                <td>$1500.00</td>
              </tr>
              <tr>
                <td>750</td>
                <td>$900.00</td>
                <td>$1350.00</td>
                <td>$2250.00</td>
              </tr>
              <tr>
                <td>1000</td>
                <td>$1200.00</td>
                <td>$1800.00</td>
                <td>$3000.00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h5>Sire and Dam Payout Schedule(1st Place only)</h5>
          <table class="table table-bordered table-hovered table-striped">
            <thead>
              <tr>
                <th># of Entries</th>
                <th>2 Year Old Year</th>
                <th>3 Year Old Year</th>
                <th>4 Year Old Year</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>50</td>
                <td>$30.00</td>
                <td>$45.00</td>
                <td>$75.00</td>
              </tr>
              <tr>
                <td>150</td>
                <td>$90.00</td>
                <td>$135.00</td>
                <td>$225.00</td>
              </tr>
              <tr>
                <td>250</td>
                <td>$150.00</td>
                <td>$225.00</td>
                <td>$375.00</td>
              </tr>
              <tr>
                <td>350</td>
                <td>$210.00</td>
                <td>$315.00</td>
                <td>$525.00</td>
              </tr>
              <tr>
                <td>500</td>
                <td>$300.00</td>
                <td>$450.00</td>
                <td>$750.00</td>
              </tr>
              <tr>
                <td>750</td>
                <td>$450.00</td>
                <td>$675.00</td>
                <td>$1125.00</td>
              </tr>
              <tr>
                <td>1000</td>
                <td>$600.00</td>
                <td>$900.00</td>
                <td>$1500.00</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <h5>Sire and Dam Payout Schedule(2nd Place Only)</h5>
          <table class="table table-bordered table-hovered table-striped">
            <thead>
              <tr>
                <th># of Entries</th>
                <th>2 Year Old Year</th>
                <th>3 Year Old Year</th>
                <th>4 Year Old Year</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>50</td>
                <td>$20.00</td>
                <td>$30.00</td>
                <td>$50.00</td>
              </tr>
              <tr>
                <td>150</td>
                <td>$60.00</td>
                <td>$90.00</td>
                <td>$150.00</td>
              </tr>
              <tr>
                <td>250</td>
                <td>$100.00</td>
                <td>$150.00</td>
                <td>$250.00</td>
              </tr>
              <tr>
                <td>350</td>
                <td>$140.00</td>
                <td>$210.00</td>
                <td>$350.00</td>
              </tr>
              <tr>
                <td>500</td>
                <td>$200.00</td>
                <td>$300.00</td>
                <td>$500.00</td>
              </tr>
              <tr>
                <td>750</td>
                <td>$300.00</td>
                <td>$450.00</td>
                <td>$750.00</td>
              </tr>
              <tr>
                <td>1000</td>
                <td>$400.00</td>
                <td>$600.00</td>
                <td>$1000.00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <h5><b>Rules and Regulations</b></h5>
      </div>
      <div class="row">
        <ul>
          <li>All calves nominated in the Super Stakes Program must be registered and nominated in their birth year.</li>
          <ol>
            <li>EID tag must be placed in the calves’ ear in the birth year. Online entry available for animals who have EID tags.</li>
            <li>Any Re-tags must be done immediately in order to keep records up to date on the calf.</li>
          </ol>
          <li>Parent penalties may apply per event.</li>
          <li>A bull calf nomination becomes effective when the nomination form and appropriate fees are received in the ABBI Office.</li>
          <li>A bull calf nomination fee is non refundable. </li>
          <li>ABBI General Regulations can be found in the ABBI Rulebook.</li>
        </ul>
      </div>
    </div>
    <div id="bcp">
      <div class="row">
        <h3 class="text-center"><b>BREEDER'S CERTIFICATE PROGRAM RULES AND REGULATIONS</b></h3>
        <h5><b>The following Rules and Regulations must be followed in order to enroll in the ABBI Breeder’s Certificate Program. </b></h5>
        <h5><b>I. Sire Qualifications for Enrollment</b></h5>
        <ol>
          <li>Eligibility for enrollment requires</li>
          <p>Preference No. 1: No artificial insemination of semen and no natural stud service have occurred to outside- of-herd dams prior to the enrollment year.</p>
          <p>Preference No. 2:If a bull is collected, all of the semen must be accounted for if semen was sold prior to bull being put in the Breeder Certificate program. That semen must be grandfathered in and vouchers will need to be given. It will be the sole responsibility of the bull owner to make sure all semen are clearly noted.</p>
          <p>Previous owners of said bull must identify if they have collected the bull.</p>
          <p>Natural stud service – for any age natural bred offspring: a sire that has only been natural bred should be allowed in the program as long as the previous owner(s) have been clearly identified and notified of the bull being placed into the certificate program. Previous owner is defined as those who have had the bull in their previous inventory. Any offspring may be grandfathered in as long as they are registered. Any offspring that has not been registered will have the opportunity to be registered prior to enrollment. If the offspring is not registered prior it is up to the owner of the offspring to contact the enrolled sire’s owner to obtain a voucher.</p>
          <li>Any outside-of-herd dams bred to an enrolled sire in previous 2 years prior to enrollment must be identified, in writing to ABBI.</li>
          <li>All offspring will need to be identified in writing.  </li>
          <li>Sires with cloned copies are not eligible for enrollment.</li>
          <li>Cloned copies of original sires are not eligible for enrollment.</li>
          <li>A current listing of all enrolled sires will be found on the ABBI web site.</li>
        </ol>
        <h5><b>II.Transfers</b></h5>
        <ol>
          <li>Transfer of ownership and/or registration of a non-enrolled sire require a statement acknowledging neither  the artificial insemination of semen nor stud services have occurred, as outlined above, that would make a sire ineligible for the transferee to enroll the sire in the ABBI Breeder’s Certificate Program. </li>
          <li>During the transfer process of enrolled Sire ABBI must be notified, in writing, of any retained rights regarding this program before animal maybe transferred.</li>
          <li>Any owner of an enrolled sire may, for a fee, have ABBI process the transfer, acting as an agent for the enrolled sire owner(s), and issue an ABBI Breeder’s Certificate Voucher.</li>
          <li>ABBI will not participate and will not play any role in the  determination of the price of an ABBI Breeder’s Certificate.</li>
          <li>A fee of $30.00, the signed transfer and written agreement between all parties involved must be provided to ABBI before any Breeder Certificate Bull is transferred to new owner. </li>
          <li>Disputes over a bull entered into the Breeder Certificate program can be filed with ABBI Grievance committee for $500.00.</li>
        </ol>
        <h5><b>III.Enrollment Fees</b></h5>
        <ul>
          <li>A.Sire enrollment options:</li>
        </ul>
        <ol>
          <li>Lifetime Breeder’s Certificate - $1,250.00</li>
        </ol>
        <h5><b>IV.Requirements for the Registration of Offspring</b></h5>
        <ol>
          <li>An ABBI Breeder’sCertificate Voucher is required for all offspring resulting from artificial insemination or stud service of a non-owned enrolled sire.</li>
          <li>An ABBI Breeder’s Certificate Voucher is not required if the breeder owns the sire and bred dam.</li>
          <li>An ABBI Breeder’s Certificate Voucher is not required for offspring from a non-enrolled sire.</li>
        </ol>
        <h5><b>V.Miscellaneous</b></h5>
        <ol>
          <li>Only a member in good standing may submit an application for a Breeder’s Certificate which must be fully completed upon submission.</li>
          <li>In the case of joint ownership only one Certificate will be issued to the designated co-owner.</li>
          <li>Sire owner provides ABBI with a list of Dams including the owner and total number of head serviced and duration of exposure to the sire.</li>
          <li>Sire owner agrees to provide a Breeders Certificate to Dam owners for the number of offspring to be registered.</li>
          <li>In the event any misrepresentation is discovered, at any time, in the application for a Breeder’s Certificate, the Breeder’s Certificate shall be null and void, no refund of fees shall be made and the holder of the Breeder’s Certificate shall be subject to such further action as the Board of Directors shall impose.</li>
          <li>All fees stated above are subject to change.</li>
          <li>Any disputes arising under the ABBI Breeder’s Certificate Program shall be exclusively resolved by arbitration.</li>
          <li>The owner of a sire no longer entitled to enrollment shall promptly surrender the Certificate to ABBI for cancellation.</li>
          <li>These Rules and Regulations are subject to change by the ABBI Board of Directors.</li>
        </ol>
      </div>
    </div>
    <div id="jm" class="row">
      <h3 class="text-center"><b>JUNIOR MEMBERSHIP</b></h3>
      <h4>Any Kid Can Become a Junior Member!</h4>
      <h5>Junior Futurity events are open to Kids age 9-18</h5>
      <p>Welcome to American Bucking Bull's Junior Member page. The bucking bull industry is about more than high scores and winning big. We believe the connections you make and the lessons you learn are the most important things. The friends you make here are friends for life!</p>
      <p>We have many ways of participating in our junior breeder program, from flanking your own bull in our Junior Futurity division to entering our creativity contests. Come and see what ABBI is all about. </p>
      <p>If you do decide to compete at the Futurity level, we offer prizes, awards and trophies. The 2018 Season Winner even earned a trailer from Big Tex!</p>
      <h5>Some of our most FAQ from Junior Members:</h5>
      <h5>Q: What does the average bull weigh?</h5>
      <p>A: The average bucking bull that competes with a rider weighs in at 1,700- 1,800 pounds. The bull very rarely weighs less than 1,200 pounds unless they are competing in the futurities with only a bucking dummy aboard.</p>
      <h5>Q: What is the lifespan of a bucking bull?</h5>
      <p>A: Bucking bulls often live well into their teens, which is considered geriatric for any bull. Though a bucking bull may often be in his prime as an athlete around age 5 or 6, many bulls buck past the age of 10, and when they retire from competition they are used as sires in bucking bull breeding programs.</p>
      <h5>Q: What makes a bull buck?</h5>
      <p>A: The success of bucking bull breeding programs around the world has proven that genetics is the most prevalent factor in determining a bull’s desire and ability to buck. One of the most common misconceptions about bull riding is that the flank strap is tied to the animal’s testicles; this is far from the truth. This is a soft rope that is loosely tied around the bull’s midsection in the flank area and slipped onto the bull when it enters the alley to the chute. The slack is taken out of it before the ride, but not tied too tight, and the strap is removed immediately after the ride. (Todd Dewey, Las Vegas Review Journal).</p>
      <p>It has nothing to do with the genitals, as some uneducated detractors would attest. In fact, care is taken to ensure that the genitals are not involved, as that would adversely affect the performance of the bulls. The flank rope is more of an annoyance than anything else, and the bulls will kick their hind legs out at the height of their bucking action in an effort to dislodge it, resulting in a more uniform and less erratic performance.</p>
      <h5>Q: Where can I find more information?</h5>
      <p>A: Check out www.americanbuckingbull.com or call the office at 719-242-2747</p>
    </div>
  </div>
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>CONTACT INFO</h4>
            <p>
              <strong class="landmark">101 W. Riverwalk<br></strong>
              <strong class="landmark">Pueblo, Colorado 81003<br></strong>
              <strong>Phone : <span class="landmark">(719) 242-2747</span><br></strong>
              <strong>FAX : (719) 242-2746<br></strong>
              <strong>Email: <span class="landmark">info@americanbuckingbull.com</span></strong>
            </p>
          </div>
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>OUR COMPANY</h4>
            <ul>
              <li><a href="#"><strong class="landmark">About ABBI</strong></a></li>
              <li><a href="#"><strong class="landmark">Press Room</strong></a></li>
              <li><a href="#"><strong class="landmark">Contact Us</strong></a></li>
              <li><a href="#"><strong class="landmark">Privacy Policy</strong></a></li>
              <li><a href="#"><strong class="landmark">2020 Rule Book</strong></a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>MEMBERS AREA</h4>
            <p><strong>Login to the Members Area to see your animal inventory, manage your profile and make
            payments.</strong></p>
            <ul>
              <li><a href="#"><strong class="landmark">Login Now</strong></a></li>
              <li><a href="#"><strong class="landmark">Join ABBI</strong></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container d-md-flex py-4">
      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span> IntegrityTek 2018</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          Designed by <a href="https://integrity-tek.com/" target="_blank"><span
            style="color: orange">IntegrityTek</span></a>
          </div>
        </div>
      </div>
    </footer><!-- End Footer -->
    <a href="#" class="back-to-top"><i class="fa fa-arrow-up"></i></a>
    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
  </body>
  <script src="angular/js/jquery.min.js"></script>
  <script src="angular/js/popper.min.js"></script>
  <script src="angular/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="javascripts/login.js"></script>
  </html>