





.headingforgot{
    margin-top: 136px;
}


 .forgot{
    padding: 35px;
    border: 1px solid;

 }

 @media (min-width: 997px) and (max-width: 1679px) {
    .forgot{
        padding: 272px;
        border: 1px solid;
        padding-top: 47px;
        padding-bottom: 47px;
       
       
    
     }
  }
