      <!-- <div class="row mt"> -->
        <!-- <div class="row"> -->
          <!-- <div class="col-md-12">                           -->
            <!-- <div class="tab-content"> -->
              
      <!-- <div class="tab-pane fade align" id="animal" ng-controller="AddAnimalController">
        <div>
          <h2 class="text-center" style="background-color:#503219; color:#fff; padding:5px; width:20%">Animals</h2>
        </div>
        <div class="container" style="background-color: #d8ceb9;height:100%;width:90%;padding: 10px;" ng-hide="searchanimal">
          <form ng-init="AnimalCount()">
            <label>Search Animal -- ({{ac.count}} animals in pool)</label>
            <input type="search" class="form-control" ng-model="searchani.animal" placeholder="Search by Name, Brand or Owner">
            <br>
            <button class="btn btn-color" ng-click="SearchAnimals(searchani)">Search</button>
            <input type="reset" class="btn btn-color" value="Clear">
            <button class="btn btn-color" ng-click="AddnewAnimal()">Add New Animal</button>
          </form>
          <br>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table table-striped table-bordered nowrap" datatable="ng" dt-options="vm.dtOptions" dt-instance="vm.dtInstance" width="100%">
                  <thead>
                    <tr>
                      <th>Bbcid</th>
                      <th>Reg No</th>
                      <th>Animal</th>
                      <th>Owner</th>
                      <th>Handler</th>
                      <th>Del</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="sa in sas">
                      <td>{{sa.bbcid}}</td>
                      <td>{{sa.regno}}</td>
                      <td><a href="#">{{sa.bno}} {{sa.bname}} ({{sa.birthyear}})</a></td>
                      <td>{{sa.owner}}</td>
                      <td>{{sa.handler}}</td>
                      <td>{{sa.del}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="container" style="background-color: #d8ceb9;height:100%;width:90%;padding: 10px;" ng-show="addani">
          <form>
            <h3>Add New Animal</h3>
            <p>This tool has no effect on an animal's ABBI registration record. It only changes the way they are represented in the BBC Entry System.</p>
            <label>ABBI#</label>
            <input type="text" class="form-control" ng-model="addanimal.abbi">
            <label>EID / Ear Tag#</label>
            <input type="text" class="form-control" ng-model="addanimal.eid">
            <label>PBS ID or code #</label>
            <input type="text" class="form-control" ng-model="addanimal.pbsid">
            <label>Brand #</label>
            <input type="text" class="form-control" ng-model="addanimal.brand">
            <label>Animal Name</label>
            <input type="text" class="form-control" ng-model="addanimal.name">
            <label>Owner</label>
            <input type="text" class="form-control" ng-model="addanimal.owner">
            <label>Handler</label>
            <input type="text" class="form-control" ng-model="addanimal.handler">
            <label>Delivery</label>
            <input type="text" class="form-control" ng-model="addanimal.del">
            <label>Birth Year</label>
            <input type="text" class="form-control" ng-model="addanimal.birth">
            <br>
            <button class="btn btn-color" ng-click="AddAnimal(addanimal)">Add Animal</button>
            <button class="btn btn-color" ng-click="ExitAnimal()">Back</button>
          </form>
        </div>
      </div> -->
      <!-- <div class="tab-pane fade align" id="handler" ng-controller="HandlerController">
        <h2 class="text-center" style="background-color:#503219; color:#fff; padding:5px; width:20%">Handlers</h2>
        <div class="container" style="background-color: #d8ceb9;height:100%;width:90%;padding: 10px;" ng-hide="addnew">
          <button class="btn btn-color" ng-click="NewHandler()">Add New Handler</button>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table table-striped table-bordered nowrap" datatable="ng" dt-options="vm.dtOptions" dt-instance="vm.dtInstance" width="100%" ng-init="handlerdata()">
                  <thead>
                    <tr>
                      <th>rowid</th>
                      <th>handler</th>
                      <th>memno</th>
                      <th>phone</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="hd in hds">
                      <td><span ng-bind="hd.rowid"></span></td>
                      <td><a href="#" ng-click="EditHandler(hd)"><span ng-bind="hd.handler"></span></a></td>
                      <td><span ng-bind="hd.memno"></span></td>
                      <td><span ng-bind="hd.phone"></span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="container" style="background-color: #d8ceb9;height:100%;width:90%;padding: 10px;" ng-show="addnew1">
          <form>
            <label>Handler</label>
            <input type="text" class="form-control" ng-model="hand.handler">
            <label>Memno</label>
            <input type="text" class="form-control" ng-model="hand.memno">
            <label>Phone</label>
            <input type="text" class="form-control" ng-model="hand.phone">
            <br>
            <button class="btn btn-color" ng-click="AddNewHandler(hand)">Add New Handler</button>
            <button class="btn btn-color" ng-click="BacktoHandler()">Back</button>
          </form>
        </div>
        <div class="container" style="background-color: #d8ceb9;height:100%;width:90%;padding: 10px;" ng-show="addnew2">
          <form>
            <label>Handler</label>
            <input type="text" class="form-control" ng-model="eh.handler">
            <label>Memno</label>
            <input type="text" class="form-control" ng-model="eh.memno">
            <label>Phone</label>
            <input type="text" class="form-control" ng-model="eh.phone">
            <br>
            <button class="btn btn-color" ng-click="UpdateHandler(eh)">Update Handler</button>
            <button class="btn btn-color" ng-click="DeleteHandler(eh)">Delete Handler</button>
            <button class="btn btn-color" ng-click="BacktoHandler()">Back</button>
          </form>
        </div>
      </div> -->
      <!-- <div class="tab-pane fade align" id="program" ng-controller="ProgramController">
        <h2 class="text-center" style="background-color:#503219; color:#fff; padding:5px; width:20%">Programs</h2>
        <div class="container" style="background-color: #d8ceb9;height:100%;width:90%;padding: 10px;" ng-hide="tab1">
          <h4 class="well well-sm" style="background-color: #503219; color: white;" ng-click="TBL1()">TwoBulls Legacy 2020</h4>
          <h4 class="well well-sm" style="background-color: #503219; color: white;" ng-click="TBL2()">TwoBulls Legacy 2021</h4>
          <h4 class="well well-sm" style="background-color: #503219; color: white;" ng-click="MYS()">Maiden Yearling Slots 2021</h4>
        </div>
        <div class="container" style="background-color: #d8ceb9;height:100%;width:90%;padding: 10px;" ng-show="subtab1">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table table-striped table-bordered nowrap" datatable="ng" dt-options="vm.dtOptions" dt-instance="vm.dtInstance" width="100%" ng-init="handlerdata()">
                  <thead>
                    <tr>
                      <th>Memberno </th>
                      <th>Firstname</th>
                      <th>Lastname </th>
                      <th>Phone</th>
                      <th>Email</th>
                      <th>Regno</th>
                      <th>Brand</th>
                      <th>Animal</th>
                      <th>Paid</th>
                      <th>Paylog</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="tb1 in tbl1">
                      <td><span ng-bind="tb1.memberno"></span></td>
                      <td><span ng-bind="tb1.firstname"></span></td>
                      <td><span ng-bind="tb1.lastname"></span></td>
                      <td><span ng-bind="tb1.phone"></span></td>
                      <td><span ng-bind="tb1.email"></span></td>
                      <td><span ng-bind="tb1.regno"></span></td>
                      <td><span ng-bind="tb1.brand"></span></td>
                      <td><span ng-bind="tb1.animal"></span></td>
                      <td><span ng-bind="tb1.paid"></span></td>
                      <td><span ng-bind="tb1.paylog_id"></span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <br>
          <button class="btn btn-color" ng-click="ExitTBL()">Back</button>
        </div>
        <div class="container" style="background-color: #d8ceb9;height:100%;width:90%;padding: 10px;" ng-show="subtab2">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table table-striped table-bordered nowrap" datatable="ng" dt-options="vm.dtOptions" dt-instance="vm.dtInstance" width="100%" ng-init="handlerdata()">
                  <thead>
                    <tr>
                      <th>Memberno </th>
                      <th>Firstname</th>
                      <th>Lastname </th>
                      <th>Phone</th>
                      <th>Email</th>
                      <th>Regno</th>
                      <th>Brand</th>
                      <th>Animal</th>
                      <th>Paid</th>
                      <th>Paylog</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="tb2 in tbl2">
                      <td><span ng-bind="tb2.memberno"></span></td>
                      <td><span ng-bind="tb2.firstname"></span></td>
                      <td><span ng-bind="tb2.lastname"></span></td>
                      <td><span ng-bind="tb2.phone"></span></td>
                      <td><span ng-bind="tb2.email"></span></td>
                      <td><span ng-bind="tb2.regno"></span></td>
                      <td><span ng-bind="tb2.brand"></span></td>
                      <td><span ng-bind="tb2.animal"></span></td>
                      <td><span ng-bind="tb2.paid"></span></td>
                      <td><span ng-bind="tb2.paylog_id"></span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <br>
          <button class="btn btn-color" ng-click="ExitTBL()">Back</button>
        </div>
        <div class="container" style="background-color: #d8ceb9;height:100%;width:90%;padding: 10px;" ng-show="subtab3">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table table-striped table-bordered nowrap" datatable="ng" dt-options="vm.dtOptions" dt-instance="vm.dtInstance" width="100%" ng-init="handlerdata()">
                  <thead>
                    <tr>
                      <th>Member </th>
                      <th>Added By</th>
                      <th>Name </th>
                      <th>Phone</th>
                      <th>Email</th>
                      <th>Regno</th>
                      <th>Price</th>
                      <th>Paid</th>
                      <th>Paylog</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="my in mys">
                      <td><span ng-bind="my.memberno"></span></td>
                      <td><span ng-bind="my.added_by"></span></td>
                      <td>{{my.firstname}} {{my.lastname}}</span></td>
                      <td><span ng-bind="my.phone"></span></td>
                      <td><span ng-bind="my.email"></span></td>
                      <td><span ng-bind="my.regno"></span></td>
                      <td><span ng-bind="my.totalfee"></span></td>
                      <td><span ng-bind="my.paid"></span></td>
                      <td><span ng-bind="my.paylog_id"></span></td>
                      <td>
                        <i class="btn btn-danger fa fa-trash" ng-click="DeleteMY(my)"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <br>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table table-striped table-bordered nowrap" datatable="ng" dt-options="vm.dtOptions" dt-instance="vm.dtInstance" width="100%" ng-init="handlerdata()">
                  <thead>
                    <tr>
                      <th>Memberno</th>
                      <th>Firstname</th>
                      <th>Lastname</th>
                      <th>Slots</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat = "my1 in mys1">
                      <td><span ng-bind="my1.memberno"></span></td>
                      <td><span ng-bind="my1.firstname"></span></td>
                      <td><span ng-bind="my1.lastname"></span></td>
                      <td><span ng-bind="my1.slots"></span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <br>
          <button class="btn btn-color" ng-click="ExitTBL()">Back</button>
        </div>
      </div> -->
    <!-- </div> -->