<div>
  <h2 class="text-center" style="background-color:#503219; color:#fff; padding:5px; min-width:100px;">Change Password</h2>
</div>                          
<div class="container border" style="height:100%;width:90%;padding: 10px;">
  <form class="form-group" novalidate>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="form-group">
        <label>Old Password</label>
        <input type="password" ng-model="change.oldpassword" class="form-control" value="" required>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="form-group">
        <label>New Password</label>
        <input type="password" ng-model="change.newpassword" class="form-control" value="" required>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="form-group">
        <label>Confirm password</label>
        <input type="password" ng-model="change.cpassword" class="form-control" value="" required>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 submit">
        <div class="form-group">
          <input type="button" ng-click="ChangePassword(change)" class="btn btn-color" value="Change Password">
        </div>
      </div>
    </div>
  </form>
</div>