<div>
  <h2 class="text-center" style="background-color:#503219; color:#fff; padding:5px; min-width:100px;">Competition</h2>
</div>
<div class="container" style="height:100%;width:90%;padding: 10px;" ng-hide="showfrontier">
  <div>
    <h4 class="well well-sm" style="background-color: #503219; color: white;" ng-click="ShowFrontier()">Frontier Rodeo Maiden Yearling</h4>
  </div>
  <div>
    <h4 class="well well-sm" style="background-color: #503219; color: white;" ng-click="ShowLegacy()">TwoBulls Legacy</h4>
  </div>
  <div>
    <h4 class="well well-sm" style="background-color: #503219; color: white;" ng-click="ShowProgram()">My Program Animals</h4>
  </div>
</div>
<div class="container" style="height:100%;width:90%;padding: 10px;" ng-show="showfrontier1">
  <h4 style="color: black;">ABBI Competition Programs</h4>
  <p style="color: black;">Special competition programs for ABBI registered animals</p>
  <hr>
  <p style="color: black;">Slot reservations are temporarily locked</p>
  <hr>
  <img src="https://www.abbireg.com/images/my_program.jpg" alt="image1" style="width: 100%">
  <hr>
  <img src="https://www.abbireg.com/images/maiden_fut_ground_rules.jpg" style="width: 100%">
  <br>
  <button class="btn btn-color" ng-click="ExitFrontier()">Back</button>
</div>
<div class="container" style="height:100%;width:90%;padding: 10px;" ng-show="showfrontier2">
  <h4 style="color: black;">ABBI Competition Programs</h4>
  <p style="color: black;">Special competition programs for ABBI registered animals</p>
  <hr>
  <img src="https://www.abbireg.com/images/legacy_logo_large.png" alt="image1" style="width: 100%">
  <hr>
  <div class="medline strongline">To promote and enhance the value of the Females of our Bucking Bull Industry </div>
  <div class="medline">Multi- Level (Legacy & Legacy Elite) program that will start in 2020 and be an annual program that will give all size of Breeders/Owners a level playing field to
  compete and promote their breeding program.</div>

  <div style="color:black;font-weight:bold">Legacy Overview:</div>
  <section>
   <ul class="bulleted ind medline">
    <li>Breeder/Owner will Legacy nominate a designated number of females that are owned by
    that Breeder/Owner and are in their inventory.</li>
    <li>Nominations will be made annually in November prior to calving the following calendar year.
    (IE nominate 2020 for 2021 born calf, competing in 2022)</li>
    <li>To Jumpstart the program and get all females in sync with the Legacy program guidelines,
    there will be 3 years nominations in the first year of the program which will be 2020.</li>
    <li>Calves (Bulls/Heifers) born to nominated female will compete their Juvenile year at the
    TwoBulls Challenge Legacy Event in Duncan, OK.</li>
    <li>Nominations fees will be $300 per Female</li>
    <li>Nomination fees will be split equally between Female/Calves Legacy Bonus Purse for that year’s program.</li>
    <li>Juveniles (Bulls or heifers) must compete in TwoBulls Challenge Legacy Event to be eligible for Legacy Bonus Money. </li>
    <li>Calves can enter Open Juvenile class and buck once to compete for Open Purse and Legacy Purse OR
    Pay a $250 fee to buck only for Legacy Purse.</li>
    <li>The Legacy Females will be paid Legacy Bonus based on where their Legacy Calf places.</li>
    <li>Legacy Female and Calf Bonus will be paid an equal number of placings and
    amounts based on # of calves competing for that nomination year.</li>

  </ul>
</section>
<div style="color:black;font-weight:bold">Rules</div>
<section>
 <ul style="list-style-type: circle !important;">
  <li>Any breeding age ABBI Registered Female can be nominated into Legacy Program</li>
  <li>Each nomination is for (1) year, (1) Calf</li>
  <li>Only females having a natural born calf will be allowed in Legacy Program
  (only live cover or AI, natural born to that specific cow)</li>
  <li>No IVF, or Recip bred cows will be allowed.</li>
  <li>If a cow is flushed, then bred back, then only the natural born calf
  to that nominated female will be allowed to compete in the Legacy program. </li>
  <li>If a nominated female has natural born twins, only (1) of the twins will be allowed to compete for Legacy Bonus.</li>
  <li>Once a Female is nominated and paid into the Legacy Program, no refunds or substitutions will be allowed for any reason.</li>
  <li>If calf dies, cripples, or doesn’t perform, no substitutions will be allowed.</li>
  <li>Once nominations close for that calendar year, there will be no late entries for any reason.</li>
  <li>A breeder may not enter more than the designated number of females allowed for that calendar year program. </li>
  <li>If Female is in partnership, the female can only be entered under the partner that has the female in his ABBI Registered Inventory,
  and that female will count toward the nominating Breeder/Owner Legacy count of nominated females allowed.</li>
  <li>Legacy Females can be sold and nomination transferred.</li>
  <li>Legacy calves can transfer ownership prior to competing.</li>
  <li>Legacy Females and calves will still be enrolled and eligible
  for Legacy Bonus for that calf so long as calf competes at designated Legacy event.</li>
  <li>Revisions to program may take place as needed, but any changes will be in place
  prior to nominations for that years Legacy Program.</li>

</ul>
</section>

<div style="color:black;font-weight:bold">Phase One - Legacy Program </div>
<section>
 <ul style="list-style-type: circle !important;">
  <li>February 1 – February 10, 2020 Nominations open and close for 2020 Legacy Program.</li>
  <li>This nomination will be for Females with natural born Juvenile calves
  that will compete April 26, 2020 at the TwoBulls Challenge Inaugural Legacy event.</li>
  <li>Each Breeder/Owner can nominate up to (4) Females for the 2020 Legacy Program.</li>
  <li>2020 Legacy Purse will be paid out in full at April 26, TwoBulls Challenge Legacy Event.</li>


</ul>
</section>
<div style="color:black;font-weight:bold">Phase One - Legacy Elite Program </div>
<section>
 <ul style="list-style-type: circle !important;">
  <li>The top 10% of Females from the Legacy program for that year, will have the option to be nominated into
  the Legacy Elite Program immediately following the Legacy Program payout each year.</li>
  <li>Nomination Fees for the Legacy Elite Program will be $1000 per Female</li>
  <li>If a Legacy Female does not finish in the top 10% due to Calf Performance, Breeder/Owner has
  the option to nominate into Legacy Elite based on previous production performance. </li>
  <li>Must have produced a natural born calf with ABBI Competition Earnings</li>
  <li>Nomination Fee for Legacy Female not in top 10% will be $2000.</li>
  <li>The Legacy Elite Program will follow the Legacy Elite Females Calf’s ABBI
  Competition Career throughout their Juvenile year.</li>
  <li>Legacy Elite Champion Female will be based on total money won by Legacy Elite
  Juvenile from Legacy Event through ABBI Finals Juvenile Competition.</li>
  <li>Only ABBI Sanctioned and Co-Sanctioned Juvenile Competitions will count towards Legacy Elite Earnings.</li>
  <li>The top 10% of Legacy Elite Females will split the Legacy Elite Purse at the completion of the ABBI Finals. </li>
  <li>The Legacy Elite Program will only award the Nominated Female, not the calf. </li>



</ul>
</section>

<div style="color:black;font-weight:bold">Phase Two – Legacy Program</div>
<section>
 <ul style="list-style-type: circle !important;">
  <li>May 4 – May 18, 2020 Nominations open and close for 2021 Legacy Program</li>
  <li>This nomination will be for Females with natural born calves that have been born in 2020,
  that will compete at the 2021 TwoBulls Challenge Legacy Event.</li>
  <li>Each Breeder/Owner can nominate up to (6) Females for the 2021 Legacy Program.</li>
  <li>2021 Legacy Purse will be paid out in full at 2021 TwoBulls Challenge Legacy Event.</li>
  <li>Phase three will have Legacy program on track with all schedules laid out for full program in place.</li>

</ul>
</section>

<div style="color:black;font-weight:bold">Phase Three – Legacy Program</div>
<section>
 <ul style="list-style-type: circle !important;">
  <li>Nov. 16 – Nov. 30, 2020 Nominations open and close for 2022 Legacy Program.</li>
  <li>This nomination will be for Bred Females to calve a natural born calf, in
  2021 that will compete in 2022 at the TwoBulls Challenge Legacy event.</li>
  <li>Each Breeder/Owner can nominate up to 10 Females for the 2022 Legacy Program.</li>
  <li>2022 Legacy Purse will be paid out in full at 2022 TwoBulls Challenge Legacy Event.</li>
  <li>This format will continue annually with a maximum of 10 Females being nominated each year in November.</li>


</ul>
</section>

<div style="color:black;font-weight:bold">Phase Four – Legacy Program</div>
<section>
 <ul style="list-style-type: circle !important;">
  <li>There will be opportunities for Legacy Nominated Females to continue to generate revenue
  throughout the competition career of her calves on an event by event basis. </li>
  <li>Event Producers will have the option to include a Legacy Female Side pot for
  Legacy females with a Legacy Calf competing.</li>
  <li>Event Producer will set entry fee and payout schedule for their individual event following Legacy Program guidelines.</li>


</ul>
</section>

<div class="biggerline strongline marginate">Legacy Program Projections</div>
<div style="color:black;font-weight:bold">Phase One – Legacy 2020</div>
<section>
 <ul style="list-style-type: circle !important;">
  <li>(100) Breeder/Owners nominate 4 Females</li>
  <li>400 Females X $300 = $120,000</li>
  <li>Fee 15% ( Awards, Admin) $45 X 400 = $18,000</li>
  <li>Total Payout Purse $102,000 to be paid out April 2020</li>
  <li>$51,000 Legacy Female Bonuses </li>
  <li>$51,000 Legacy Juvenile Bonuses </li>

</ul>
</section>
<div style="color:black;font-weight:bold">Phase One Legacy Elite 2020</div>
<section>
 <ul style="list-style-type: circle !important;">
  <li>40 Breeder/Owners nominate 40 Females to Legacy Elite (top 10% based on 400 Legacy Females)</li>
  <li>40 Females X $1000 = $40,000</li>
  <li>Fee 15% (Awards, Admin) $150 X 40 = $6,000</li>
  <li>Total Payout Purse $34,000 to be paid out November 2020</li>
  <li>$34,000 Legacy Elite Female Bonuses</li>


</ul>
</section>
<div style="color:black;font-weight:bold">Phase Two Legacy 2021</div>
<section>
 <ul style="list-style-type: circle !important;">
  <li>(100) Breeder/Owners nominate 6 Females</li>
  <li>600 Females X $300 = $180,000</li>
  <li>Fee 15% ( Awards, Admin) $45 X 300 = $27,000</li>
  <li>Total Payout Purse $153,000 to be paid out April 2021</li>
  <li>$76,500 Legacy Female Bonuses </li>
  <li>$76,500 Legacy Juvenile Bonuses </li>


</ul>
</section>

<div style="color:black;font-weight:bold">Phase Three Legacy 2022</div>
<section>
 <ul style="list-style-type: circle !important;">
  <li>(100) Breeder/Owners nominate 10 Females</li>
  <li>1000 Females X $300 = $300,000</li>
  <li>Fee 15% ( Awards, Admin) $45 X 1000 = $45,000</li>
  <li>Total Payout Purse $255,000 to be paid out April 2022</li>
  <li>$127,500 Legacy Female Bonuses  </li>
  <li>$127,500 Legacy Juvenile Bonuses  </li>


</ul>
</section>

<div style="color:black;font-weight:bold">For More Information contact Jim McLain 580-786-1010</div>
<br>
<button class="btn btn-color" ng-click="Exitlegacy()">Back</button>

</div>
<div class="container" style="height:100%;width:90%;padding: 10px;" ng-show="showfrontier3">
  <h4 style="color: black;">ABBI Competition Programs</h4>
  <p style="color: black;">Special competition programs for ABBI registered animals</p>
  <hr>
  <table class="table table-striped table-bordered nowrap" datatable="ng" dt-options="vm.dtOptions" dt-instance="vm.dtInstance" width="100%">
    <thead>
      <tr>
        <th>Season</th>
        <th>Program</th>
        <th>Animal</th>
        <th>Added By</th>
        <th>Payment Id</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="pr in prs">
        <td>{{pr.season}}</td>
        <td>{{pr.prog}}</td>
        <td></td>
        <td>{{pr.lastname}},{{pr.firstname}}</td>
        <td>{{pr.paylog_id}}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <button class="btn btn-color" ng-click="ExitProgram()">Back</button>
</div>