<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Sandeep Siva">
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <meta name="keywords" content="bull,futurity, classic, American,bucking,events,schedule,calendar,line-up,lineup" />
  <meta name="description" content="American Bucking Bull, Inc. is the leading bucking cattle DNA registry in the world. ABBI holds and sanctions competitive events for Classic (3 and 4-year-old) and Futurity (2-year-old) bucking bulls, along with other competition formats.  ABBI paid out over $1.7 million dollars in 2010. Over $800,000 was paid out in prize money to ABBI bulls at the 2010 Las Vegas ABBI Finals alone." />
  <title>
    American Bucking Bull, Inc. | Home
  </title>
  <!-- Bootstrap core CSS-->
  <link rel="stylesheet" href="angular/css/bootstrap.min.css">
  <link rel="stylesheet" href="angular/css/datatables.bootstrap.css">
  <!--Datatables-->
  <link rel="stylesheet" type="text/css" href="angular/css/buttons.datatables.min.css">
  <link rel="stylesheet" type="text/css" href="angular/css/font-awesome.min.css">
  <!-- Custom styles for this template-->
  <link href="angular/css/style.css" rel="stylesheet">
  <link href="angular/css/style-responsive.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="angular/css/jquery-ui.css">
  <!--front-end styles-->
  <link href="angular/css/style1.css" rel="stylesheet">
  <link href="stylesheets/home.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="stylesheets/tree.css">
  <link href="angular/css/angularprint.css" rel="stylesheet">
  <style>
  .dl-small {
    margin-bottom: 4px;
  }

  .form-control-small {
    width: 100px;
  }

  .form-control-large {
    width: 310px;
  }

  .btn-color{
    background-color: #503219;
    color: white;
  }
  .btn-color:hover{
    background-color: #503219 !important;
    color: white !important;
  }
  .btn-color:focus{
    background-color: #503219 !important;
    color: white !important;
  }
  .fa:hover{
    color: white !important;
  }
  .nav-tabs{
    background-color: #503219 !important;
    border : 1px solid #503219;
    padding :5px;
  }
  .nav-tabs>li>a, .nav-tabs>li>a:focus, .nav-tabs>li{
    background-color: #503219 !important;
    color: white;
    font-weight: bold;
  }
  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    !important;
    color: black;
    font-weight: bold;
  }
  .content {display:none;}
  .preload { 
    position: fixed;
  }
  table th {
    white-space: nowrap;
  }
  .lisize{
    width: 50%;
  }
  </style>
</head>
<body ng-app="HomeApp" ng-controller='HomeController' ng-init="UserData()">
  <div class="preload">
    <div>
     <video src="video/loader.mp4" muted autoplay loop playsinline></video>
   </div>
 </div>
 <section id="container" class="content">
  <!-- header start-->
  <header class="header black-bg">
    <div class="sidebar-toggle-box">
      <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
    </div>
    <!-- logo start-->
    <a class="logo" href="#"><b><img src="images/about/logo.webp" style="height:55px;width:100px;margin-top:-13px"></b></a>
    <!-- logo end-->
    <div class="top-menu">
      <ul class="nav pull-right top-menu">
        <li><a class="logout" href="/logout">Logout</a></li>
      </ul>
    </div>
  </header>
  <!-- header end-->
  <!-- sidebar start-->
  <div class="nav-collapse" id="sidebar" ng-init="CpaySearch()">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion" ng-init="GCpaySearch()">
      <p ng-if="!picstatus" class="centered"><a href="#"><img class="img img-circle" src="images/members/user.jpg" width="80"></a></p>
      <p ng-if="picstatus" class="centered"><a href="#"><img class="img img-circle" src="images/members/{{image}}" width="80"></a></p>
      <h5 class="centered"><span ng-bind="memname"></span></h5>
      <li ng-if="memtype!='Media' && memtype!='Events' && memtype!='Judge' && memtype!='Veterinarian' && memcoun!='BR'" class="active"><a href="#!inventory"><i class="fa fa-file-word-o"></i><span>Inventory</span></a>
      </li>
      <li ng-if="memtype!='Media' && memtype!='Judge' && memtype!='Events' && memtype!='Veterinarian' && memcoun!='BR'" class="sub-menu"><a href="#!profile"><i class="fa fa-user"></i><span>Change Profile</span></a></li>
      <li ng-if="memtype=='Media' || memtype=='Events' || memtype=='Judge' || memtype=='Veterinarian' && memcoun!='BR'" class="active"><a href="#!profile"><i class="fa fa-user"></i><span>Change Profile</span></a></li>
      <li class="sub-menu"><a href="#!ChangePassword"><i class="fa fa-key"></i><span>Change Password</span></a></li>
      <li class="sub-menu" ng-if="memtype!='Junior' && memtype!='Events' && memtype!='Events' && memtype!='Judge' && memtype!='Standard'"><a href="#!searchanimal"><i class="fa fa-search"></i><span>Search Animal</span></a></li>
      <li ng-if="memtype!='Media' && memtype!='Judge' && memtype!='Events' && memtype!='Veterinarian' && memcoun!='BR'" class="sub-menu"><a href="#!registeranimal"><i class="fa fa-plus"></i><span>Register Animal</span></a></li>
      <li class="sub-menu" ng-if="memtype!='Media' && memtype!='Judge' && memtype!='Events' && memtype!='Veterinarian' && memcoun!='BR'"><a href="#!transferedanimals"><i class="glyphicon glyphicon-transfer"></i><span>Animal Transfer</span></a></li>
      <li ng-if="memtype!='Media' && memtype!='Judge' && memtype!='Events' && memtype!='Veterinarian' && memcoun!='BR'" class="sub-menu"><a href="#!holdingpen"><i class="fa fa-pencil"></i><span>Holding Pen</span></a></li>
      <li class="sub-menu" ng-if="memtype!='Judge' && memtype!='Media' && memtype!='Veterinarian' && memtype!='Events' memcoun!='BR'"><a href="#!superstakes"><i class="fa fa-edit"></i><span>Super Stakes Entry</span></a></li>
      <li class="sub-menu" ng-if="memtype!='Judge' && memtype!='Events'"><a href="#!workorder"><i class="fa fa-money"></i><span>Work Orders</span></a></li>
      <li ng-if="memtype!='Media' && memtype!='Judge' && memtype!='Veterinarian' && memcoun!='BR'" class="sub-menu"><a href="#!sponsoredevents"><i class="fa fa-calendar"></i><span>Payment Events</span></a></li>
      <li ng-if="memtype!='Events'" class="sub-menu" ng-if="memtype!='Judge'"><a href="#!onlinestore"><i class="fa fa-cart-plus"></i><span>Online Store</span></a></li>
      <li  ng-if="memtype!='Events'" class="sub-menu"><a href="#!news"><i class="fa fa-newspaper-o"></i><span>News</span></a></li>
      <li class="sub-menu"><a href="#events"><i class="fa fa-flag-checkered"></i><span>Events</span></a>
        <ul class="sub">
          <li><a href="#!schedule"><span>Schedule</span></a></li>
          <li><a href="#!enterevents"><span>Enter Events</span></a></li>
          <li><a href="#!results"><span>Results</span></a></li>
          <li><a href="#!standings"><span>Standings</span></a></li>
          <li><a href="#!competition"><span>Competition Programs</span></a></li>
          <li><a href="#!entries"><span>My Entries</span></a></li>
          <li><a href="#!payment"><span>My payments</span></a></li>
        </ul>
      </li>
      <li ng-if="cps>=1" class="sub-menu"><a href="#!custom"><i class="fa fa-credit-card"></i><span>Custom Payments</span></a></li>
      <li ng-if="gcps>=1" class="sub-menu"><a href="#!gcustom"><i class="fa fa-credit-card"></i><span>Group Payments</span></a></li>
      <li class="sub-menu"><a href="#!contact"><i class="fa fa-phone-square"></i><span>Contact ABBI</span></a></li>
    </ul>
  </div>
  <!-- sidebar menu end-->
  <!-- sidebar end-->
  <!-- main content start-->
  <section id="main-content">
    <section class="wrapper site-min-height">
      <div class="row mt">
        <div class="row">
          <div class="col-md-12">                   
            <div ng-view></div>
          </div>
        </div>
      </div>
    </section>
  </section>
</section>
</body>
<!-- MAIN CONTENT-->
<!-- main content end-->
<!-- js placed at the end of the document so the pages load faster-->
<script src="angular/js/jquery.js"></script>
<script src="angular/js/jquery.min.js"></script>
<script src="angular/js/bootstrap.min.js"></script>
<script src="angular/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="angular/js/jquery.ui.touch-punch.min.js"></script>
 <script src="angular/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="angular/js/jquery.scrollTo.min.js"></script>
<script src="angular/js/jquery.nicescroll.js"></script>
<script type="text/javascript" src="angular/js/jquery-ui.js"></script>
<!--datatables-->
<script src="angular/js/angular.min.js"></script>
<script src="angular/js/angular-ui.min.js"></script>
<script src="angular/js/angular-datatables.buttons.min.js"></script>
<script src="angular/js/angular-datatables.min.js"></script>
<script src="angular/js/jquery.dataTables.min.js"></script>
<script src="angular/js/dataTables.buttons.min.js"></script>
<script src="angular/js/buttons.colVis.min.js"></script>
<script src="angular/js/buttons.flash.min.js"></script>
<script src="angular/js/buttons.print.min.js"></script>
<script src="angular/js/buttons.html5.min.js"></script>
<!-- common script and datatables for all pages-->
<script src="angular/js/common-scripts.js"></script>
<!--angular scripts-->
<script src="angular/home.js"></script>
<script src="angular/js/angular-route.js"></script>
<script src="angular/js/angularprint.js"></script>
<!-- Custom JS -->
<!-- <script src="javascripts/login.js"></script> -->
<!-- JSPDF -->
<script type="text/javascript" src="../angular/js/jspdf.debug.js"></script>
<script type="text/javascript" src="../angular/js/jspdf.min.js"></script>
<script>
$(function() {
  $(".preload").fadeOut(2000, function() {
    $(".content").fadeIn(1000);        
  });
});
</script>
<script>
function yesnoCheck(that) {
  if (that.value == "dam") {
    document.getElementById("ifYes").style.display = "block";
  }
  else if (that.value == "sire") {
    document.getElementById("ifYes").style.display = "block";
  } else {
    document.getElementById("ifYes").style.display = "none";
  }
}
</script>
<script>
$(document).ready(function(){
  $('.file-input').change(function(){
    var curElement = $('.image');
    // console.log(curElement);
    var reader = new FileReader();
    reader.onload = function (e) {
        // get loaded data and render thumbnail.
        curElement.attr('src', e.target.result);
      };``
    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);
  });
});
</script>
</html>