<div>
  <h2 class="text-center" style="background-color:#503219; color:#fff; padding:5px; min-width:100px;">Search Animal</h2>
</div>      
<div class="row" ng-controller="searchAnimalController" ng-hide="showani1">
  <div class="container border" style="height:100%;width:90%;padding: 10px;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <form>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="form-group">
              <label class="profile_details_text">Member:</label>
              <select ng-model="searchanimal.MemberNumber" ng-init="updatemember()" class="form-control">
                <option value="">--Select One</option>
                <option ng-repeat="member in members" value="{{member.MemberNumber}}">{{member.MemberNumber}} - {{member.MemberName}}</option>
              </select>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="form-group">
              <label class="profile_details_text">Ranch:</label>
              <select class="form-control" ng-model="searchanimal.RanchName" ng-init="updateranch()">
                <option value="">--Select Ranch--</option>
                <option ng-repeat="ranch in ranches" value="{{ranch.RanchName}}">{{ranch.RanchName}}</option>
              </select>   
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
            <div class="form-group">
              <label class="profile_details_text">Reg #:</label>
              <input type="text" ng-model="searchanimal.Reg" class="form-control" value="" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
            <div class="form-group">
              <label class="profile_details_text">Animal Name :</label>
              <input type="text" ng-model="searchanimal.AnimalName  " class="form-control" value="" required>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
            <div class="form-group">
              <label class="profile_details_text">Sex :</label>
              <select class="form-control" ng-model="searchanimal.Sex">
                <option value="">All</option>
                <option value="B">All Bulls</option>
                <option value="C">All Cows</option>
                <option value="NB">NB</option>
                <option value="NC">NC</option>
                <option value="AB">AB</option>
                <option value="AC">AC</option>
                <option value="EB">EB</option>
                <option value="EC">EC</option>
                <option value="NS">NS</option>
                <option value="NM">NM</option>
                <option value="NG">NG</option>
                <option value="AS">AS</option>
                <option value="AM">AM</option>
                <option value="AG">AG</option>
                <option value="ES">ES</option>
                <option value="EM">EM</option>
                <option value="EG">EG</option>
                <option value="M">All Mares</option>
                <option value="G">All Geldings</option>
                <option value="H">All Horses</option>
                <option value="S">All Stallions</option>
              </select>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
            <div class="form-group">
              <label class="profile_details_text">Herd #    :</label>
              <input type="text" ng-model="searchanimal.Herd" class="form-control" value="" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <label class="profile_details_text">Birthdate :</label>
            <input type="date" ng-model-options="{timezone: 'UTC'}" ng-model="searchanimal.Birthdate" class="form-control txtDate" value="" required>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <label class="profile_details_text">Description :</label>
            <input type="text" ng-model="searchanimal.Description" class="form-control" value="" required>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <label class="profile_details_text">Horns :</label>
            <select class="form-control" ng-model="searchanimal.Horns">
              <option value="">--Select--</option>
              <option value="H">H</option>
              <option value="D">D</option>
              <option value="P">P</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <label class="profile_details_text">Date Registered   :</label>
            <input type="date" ng-model-options="{timezone: 'UTC'}" ng-model="searchanimal.DateRegistered" class="form-control txtDate" value="" required>
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <label><input type="checkbox" ng-true-value="{{ 1 | json }}" ng-false-value="{{ 0 | json }}" ng-model="searchanimal.breeder">Search Breeder Certificate program bulls only </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <label><input type="checkbox" ng-true-value="{{ 1 | json }}" ng-false-value="{{ 0 | json }}" ng-model="searchanimal.superstake">Search Super Stakes program bulls only</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 submit">
            <div class="form-group">
              <input type="button" ng-click="SearchAnimal(searchanimal)" class="btn btn-color" value="Search">
              <input type="reset" ng-click="ResetSearchAnimal(searchanimal)" class="btn btn-color">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <br>
  <div class="container border" style="height:100%;width:90%;padding: 10px;">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered nowrap"  datatable="ng" dt-options="vm.dtOptions" dt-instance="vm.dtInstance"  width="100%">
            <thead>
              <tr>
                <th>Reg No</th>
                <th>Animal Name</th>
                <th>Herd No</th>
                <th>Birth Date</th>
                <th>Sex</th>
                <th>Sire Name</th>
                <th>Dam Name</th>
                <th>Member Name</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="animal in searchanimalmember">
                <td>
                  <a data-toggle="tab" ng-click="SearchAnimalProfile(animal);SearchPedigree1(animal);ShowAniCurr()"><span ng-bind="animal.RegNo"></span></a>
                </td>
                <td><span ng-bind="animal.Animal"></span></td>
                <td><span ng-bind="animal.PrivateHerd"></span></td>
                <td><span ng-bind="animal.Birthdate | date :'MM/dd/yyyy'"></span></td>
                <td><span ng-bind="animal.TypeService"></span></td>
                <td>
                  <a data-toggle="tab" ng-click="SearchAnimalSireProfile(animal);ShowAniCurr();SearchPedigree1(animal)"><span ng-bind="animal.SireName"></span></a>
                </td>
                <td>
                  <a data-toggle="tab" ng-click="SearchAnimalDamProfile(animal);ShowAniCurr();SearchPedigree1(animal)"><span ng-bind="animal.DamName"></span></a>
                </td>
                <td><span ng-bind="animal.MemberName"></span></td>
                <td><span ng-bind="animal.Status"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container border" style="height:100%;width:90%;padding: 10px;" ng-show="showani" print-remove>
                    <div class="col-md-12">
                      <div class="col-md-6">
                        <label>Member : </label>
                        <p class="text-primary" ng-bind="memberprofile.MemberName"></p>
                        <label>Reg No : </label>  
                        <p class="text-primary" ng-bind="memberprofile.RegNo"></p>
                        <label>Name : </label>  : </b>
                        <p class="text-primary" ng-bind="memberprofile.Animal"></p>
                        <label>Lifetime Earnings :</label> 
                        <p class="text-primary" ng-bind="lifetime.LifeTime_Earnings | currency"></p>
                        <label>Sex :</label>  
                        <p class="text-primary" ng-bind="memberprofile.TypeService"></p>
                        <label>Private Herd Number :</label> 
                        <p class="text-primary" ng-bind="memberprofile.PrivateHerd"></p>
                        <label>Birthdate : </label> 
                        <p class="text-primary" ng-bind="memberprofile.BirthDate | date : 'MM/dd/yyyy'"></p>
                        <label>Description : </label> 
                        <p class="text-primary" ng-bind="memberprofile.Description"></p>
                        <label>Horns : </label> 
                        <p class="text-primary" ng-bind="memberprofile.Horns"></p>
                        <label>Original Breeder :</label> 
                        <p class="text-primary" ng-bind="memberprofile.OriginalBreeder"></p>
                      </div>
                      <div class="col-md-6" ng-if="memberprofile.Status == 'Complete' || memberprofile.Status == 'Waiting For Samples'">
                        <div ng-if="memberprofile.sold!=true || memberprofile.Status!='Deceased'">
                          <button type="button" class="btn btn-color" ng-click="SoldAnimal(memberprofile)">Mark Animal As Sold</button>
                          <button type="button" class="btn btn-color" ng-click="DeceasedAnimal(memberprofile)">Mark Animal As Deceased</button>
                          <button type="button" class="btn btn-color" ng-click="TransferAnimal(memberprofile)">Transfer Animal</button>
                        </div>
                        <br>
                        <div>
                          <div ng-hide="showtext">
                            <b style="color:black">Notes</b>
                            <textarea class="form-control" ng-bind="notes.Notes" ng-model="notes.Notes" rows="5" disabled="true"></textarea>
                          </div>
                          <div ng-show="showtext">
                            <b style="color:black">Notes</b>
                            <textarea class="form-control" ng-bind="notes.Notes" ng-model="notes.Notes" rows="5"></textarea>
                          </div>
                          <br>
                          <div class="text-left">
                            <button type="button" class="btn btn-color" ng-click="SaveNotesInv(notes,memberprofile);ShowText()">Save</button>
                            <button class="btn btn-color" ng-click="EditText();">Edit</button>
                          </div>
                        </div>
                      </div>
                      <!-- {{memberprofile.sold}} -->
                      <div ng-if="memberprofile.sold==true">
                        <img src="images/status/sold.gif" alt="sold">
                      </div>
                      <!-- {{memberprofile.Status}} -->
                      <div ng-if="memberprofile.Status=='Deceased'">
                        <img src="images/status/deceased.gif" alt="Deceased">
                      </div>
                      <br>
                    </div>
                  </div>
                  <div class="container" style="background-color: #d8ceb9;height:100%;width:90%;padding: 10px;" ng-show="transfer">
                    <div>
                      <label>Search Owner</label>
                      <input class="form-control" type="text" ng-model="searchowner.name">
                      <label>Member Number</label>
                      <input class="form-control" type="text" ng-model="searchowner.number">
                    </div>
                    <br>
                    <div>
                      <button type="button" class="btn btn-color" ng-click="SearchTransferOwner(searchowner,memberprofile)">Search</button>
                      <button type="button" class="btn btn-color" ng-click="ExitTransferAnimal()">Exit</button>
                    </div>
                    <br>
                    <div ng-if="stos">
                      <div ng-hide="true">
                        <span ng-bind="id"></span>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-body">
                          <div class="table-responsive">
                            <table class="table table-striped table-bordered nowrap" width="100%">
                              <thead>
                                <tr>
                                  <th>Member Name</th>
                                  <th>Ranch Name</th>
                                  <th>Select</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="sto in stos">
                                  <td><span ng-bind="sto.MemberName"></span></td>
                                  <td><span ng-bind="sto.RanchName"></span></td>
                                  <td>
                                    <i class="fa fa-check btn btn-success" ng-click="TransferOwnerName(sto,id)"></i>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="container border" style="height:100%;width:90%;padding: 10px;" ng-show="showani">
                    <ul class="nav nav-tabs">
                      <li class="active"><a data-toggle="tab" data-target="#memberanimals">Member</a></li>
                      <li><a data-toggle="tab" data-target="#pedigrees">Pedigree </a></li>
                      <li><a data-toggle="tab" data-target="#previousOwnerss">Previous Owners  </a></li>
                      <li><a data-toggle="tab" data-target="#offspringinanimals">Offspring  </a></li>
                    </ul>
                    <div class="tab-content">
                      <div id="memberanimals" class="tab-pane fade in active">
                        <div class="container edge col-md-12" style="height:100%;padding: 10px;">
                          <div class="panel panel-default">
                            <div class="panel-body">
                              <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hovered">
                                  <thead>
                                    <tr>
                                      <th>Name</th>
                                      <th>Ranch</th>
                                      <th>Type</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td><span ng-bind="memberdata.MemberName"></span></td>
                                      <td><span ng-bind="memberdata.RanchName"></span></td>
                                      <td><span ng-bind="memberdata.Type"></span></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div col-md-6>
                            <h3>Contact Information</h3>
                            <label>Address</label>
                            <p ng-bind="memberdata.Address"></p>
                            <label>Phone</label>
                            <p ng-bind="memberdata.Phone"></p>
                          </div>
                          <div col-md-6>
                            <label>Fax</label>
                            <p ng-bind="memberdata.Fax"></p>
                            <label>Website</label>
                            <p ng-bind="memberdata.website"></p>
                          </div>
                        </div>
                      </div>
                      <div id="pedigrees" class="tab-pane fade align col-md-12">
                        <div class='root' print-section style="height:100%; background-image:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url('images/Zoetis.jpg'); background-size:cover; background-repeat: no-repeat;">
                          <div class="title1">
                            <h4 class="text-center"><b style="color:red">OffSpring</b></h4>
                            <label>Number :</label>
                            <b ng-bind="pedigree10.RegNo"></b>
                            <br>
                            <label>Name :</label>
                            <b style="color:black" ng-bind="pedigree10.Animal"></b>
                            <br>
                            <label>Herd No. :</label>
                            <b style="color:black" ng-bind="pedigree10.Herd"></b>
                          </div>
                          <div class='lv1 level'>
                            <div class='item'>
                              <div class="title">
                                <h4 class="text-center"><b style="color:red">Sire</b></h4>
                                <label>Number :</label>
                                <b><a data-toggle="tab" ng-click="SirePedigree(pedigree10);SearchPedigree(pedigree10);ShowAniCurr()" ng-bind="pedigree10.Sire"></a></b>
                                <br>
                                <label>Name :</label>
                                <b style="color:black" ng-bind="pedigree10.Sirename"></b>
                                <br>
                                <label>Herd No. :</label>
                                <b style="color:black" ng-bind="pedigree10.SireHerd"></b>
                              </div>
                              <div class='lv2 level'>
                                <div class='item'>
                                  <div class="title">
                                    <h4 class="text-center"><b style="color:red">Grand Sire</b></h4>
                                    <label>Number :</label>
                                    <b><a data-toggle="tab" ng-bind="pedigree10.GrandSire" ng-click="GrandSire1Pedigree(pedigree10);SearchPedigree(pedigree10);ShowAniCurr()"></a></b>
                                    <br>
                                    <label>Name :</label>
                                    <b style="color:black" ng-bind="pedigree10.GrandSirename"></b>
                                    <br>
                                    <label>Herd No. :</label>
                                    <b style="color:black" ng-bind="pedigree10.GrandSireHerd"></b>
                                  </div>
                                  <div class='lv3 level'>
                                    <div class='item'>
                                      <div class="title">
                                        <h4 class="text-center"><b style="color:red">Great Grand Sire</b></h4>
                                        <label>Number :</label>
                                        <b><a data-toggle="tab" ng-bind="pedigree10.GreatGrandSires" ng-click="GreateGrandSire1Pedigree(pedigree10);SearchPedigree(pedigree10);ShowAniCurr()"></a></b>
                                        <br>
                                        <label>Name :</label>
                                        <b style="color:black" ng-bind="pedigree10.GreatGrandSirenames"></b>
                                        <br>
                                        <label>Herd No. :</label>
                                        <b style="color:black" ng-bind="pedigree10.GreatGrandSireHerds"></b>
                                      </div>
                                    </div>
                                    <div class='item'>
                                      <div class="title">
                                        <h4 class="text-center"><b style="color:red">Great Grand Dam</b></h4>
                                        <label>Number :</label>
                                        <b><a data-toggle="tab" ng-bind="pedigree10.GreatGrandDams" ng-click="GreatGrandDam1Pedigree(pedigree10);SearchPedigree(pedigree10);ShowAniCurr()"></a></b>
                                        <br>
                                        <label>Name :</label>
                                        <b style="color:black" ng-bind="pedigree10.GreatGrandDamnames"></b>
                                        <br>
                                        <label>Herd No. :</label>
                                        <b style="color:black" ng-bind="pedigree10.GreatGrandDamHerds"></b>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class='item'>
                                  <div class="title">
                                    <h4 class="text-center"><b style="color:red">Grand Dam</b></h4>
                                    <label>Number :</label>
                                    <b><a data-toggle="tab" ng-bind="pedigree10.GrandDam" ng-click="GrandDam1Pedigree(pedigree10);SearchPedigree(pedigree10);ShowAniCurr()"></a></b>
                                    <br>
                                    <label>Name :</label>
                                    <b style="color:black" ng-bind="pedigree10.GrandDamname"></b>
                                    <br>
                                    <label>Herd No. :</label>
                                    <b style="color:black" ng-bind="pedigree10.GrandDamHerd"></b>
                                  </div>
                                  <div class='lv3 level'>
                                    <div class='item'>
                                      <div class="title">
                                        <h4 class="text-center"><b style="color:red">Great Grand Sire</b></h4>
                                        <label>Number :</label>
                                        <b><a data-toggle="tab" ng-bind="pedigree10.GreatGrandSired" ng-click="GreateGrandSire2Pedigree(pedigree10);SearchPedigree(pedigree10);ShowAniCurr()"></a></b>
                                        <br>
                                        <label>Name :</label>
                                        <b style="color:black" ng-bind="pedigree10.GreatGrandSirenamed"></b>
                                        <br>
                                        <label>Herd No. :</label>
                                        <b style="color:black" ng-bind="pedigree10.GreatGrandSireHerdd"></b>
                                      </div>
                                    </div>
                                    <div class='item'>
                                      <div class="title">
                                        <h4 class="text-center"><b style="color:red">Great Grand Dam</b></h4>
                                        <label>Number :</label>
                                        <b><a data-toggle="tab" ng-bind="pedigree10.GreatGrandDamd" ng-click="GreatGrandDam2Pedigree(pedigree10);SearchPedigree(pedigree10);ShowAniCurr()"></a></b>
                                        <br>
                                        <label>Name :</label>
                                        <b style="color:black" ng-bind="pedigree10.GreatGrandDamnamed"></b>
                                        <br>
                                        <label>Herd No. :</label>
                                        <b style="color:black" ng-bind="pedigree10.GreatGrandDamHerdd"></b>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class='item'>
                              <div class="title">
                                <h4 class="text-center"><b style="color:red">Dam</b></h4>
                                <label>Number :</label>
                                <b><a data-toggle="tab" ng-bind="pedigree10.Dam" ng-click="DamPedigree(pedigree10);SearchPedigree(pedigree10);ShowAniCurr()"></a></b>
                                <br>
                                <label>Name :</label>
                                <b style="color:black" ng-bind="pedigree10.Damname"></b>
                                <br>
                                <label>Herd No. :</label>
                                <b style="color:black" ng-bind="pedigree10.DamHerd"></b>
                              </div>
                              <div class='lv2 level'>
                                <div class='item'>
                                  <div class="title">
                                    <h4 class="text-center"><b style="color:red">Grand Sire</b></h4>
                                    <label>Number :</label>
                                    <b><a data-toggle="tab" ng-bind="pedigree10.GrandSire2" ng-click="GrandSire2Pedigree(pedigree10);SearchPedigree(pedigree10);ShowAniCurr()"></a></b>
                                    <br>
                                    <label>Name :</label>
                                    <b style="color:black" ng-bind="pedigree10.GrandSirename2"></b>
                                    <br>
                                    <label>Herd No. :</label>
                                    <b style="color:black" ng-bind="pedigree10.GrandSireHerd2"></b>
                                  </div>
                                  <div class='lv3 level'>
                                    <div class='item'>
                                      <div class="title">
                                        <h4 class="text-center"><b style="color:red">Great Grand Sire</b></h4>
                                        <label>Number :</label>
                                        <b><a data-toggle="tab" ng-bind="pedigree10.GreatGrandSires2" ng-click="GreateGrandSire3Pedigree(pedigree10);SearchPedigree(pedigree10);ShowAniCurr()"></a></b>
                                        <br>
                                        <label>Name :</label>
                                        <b style="color:black" ng-bind="pedigree10.GreatGrandSirenames2"></b>
                                        <br>
                                        <label>Herd No. :</label>
                                        <b style="color:black" ng-bind="pedigree10.GreatGrandSireHerds2"></b>
                                      </div>
                                    </div>
                                    <div class='item'>
                                      <div class="title">
                                        <h4 class="text-center"><b style="color:red">Great Grand Dam</b></h4>
                                        <label>Number :</label>
                                        <b><a data-toggle="tab" ng-bind="pedigree10.GreatGrandDams2" ng-click="GreatGrandDam3Pedigree(pedigree10);SearchPedigree(pedigree10);ShowAniCurr()"></a></b>
                                        <br>
                                        <label>Name :</label>
                                        <b style="color:black" ng-bind="pedigree10.GreatGrandDamnames2"></b>
                                        <br>
                                        <label>Herd No. :</label>
                                        <b style="color:black" ng-bind="pedigree10.GreatGrandDamHerds2"></b>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class='item'>
                                  <div class="title">
                                    <h4 class="text-center"><b style="color:red">Grand Dam</b></h4>
                                    <label>Number :</label>
                                    <b><a data-toggle="tab" ng-bind="pedigree10.GrandDam2" ng-click="GrandDam2Pedigree(pedigree10);SearchPedigree(pedigree10);ShowAniCurr()"></a></b>
                                    <br>
                                    <label>Name :</label>
                                    <b style="color:black" ng-bind="pedigree10.GrandDamname2"></b>
                                    <br>
                                    <label>Herd No. :</label>
                                    <b style="color:black" ng-bind="pedigree10.GrandDamHerd2"></b>
                                  </div>
                                  <div class='lv3 level'>
                                    <div class='item'>
                                      <div class="title">
                                        <h4 class="text-center"><b style="color:red">Great Grand Sire</b></h4>
                                        <label>Number :</label>
                                        <b><a data-toggle="tab" ng-bind="pedigree10.GreatGrandSired2" ng-click="GreateGrandSire4Pedigree(pedigree10);SearchPedigree(pedigree10);ShowAniCurr()"></a></b>
                                        <br>
                                        <label>Name :</label>
                                        <b style="color:black" ng-bind="pedigree10.GreatGrandSirenamed2"></b>
                                        <br>
                                        <label>Herd No. :</label>
                                        <b style="color:black" ng-bind="pedigree10.GreatGrandSireHerdd2"></b>
                                      </div>
                                    </div>
                                    <div class='item'>
                                      <div class="title">
                                        <h4 class="text-center"><b style="color:red">Great Grand Dam</b></h4>
                                        <label>Number :</label>
                                        <b><a data-toggle="tab" ng-bind="pedigree10.GreatGrandDamd2" ng-click="GreatGrandDam4Pedigree(pedigree10);SearchPedigree(pedigree10);ShowAniCurr()"></a></b>
                                        <br>
                                        <label>Name :</label>
                                        <b style="color:black" ng-bind="pedigree10.GreatGrandDamnamed2"></b>
                                        <br>
                                        <label>Herd No. :</label>
                                        <b style="color:black" ng-bind="pedigree10.GreatGrandDamHerdd2"></b>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <br>
                        <div>
                          <button print-remove class="btn btn-color" print-btn>Print</button>
                        </div>
                        <br>
                      </div>
                      <div id="previousOwnerss" class="tab-pane fade align">
                        <div class="container col-md-12" style="height:100%;padding: 10px;">
                          <div class="panel panel-default">
                            <div class="panel-body">
                              <div class="table-responsive">
                                <table class="table table-striped table-bordered nowrap" datatable="ng" dt-options="vm.dtOptions" dt-instance="vm.dtInstance" width="100%">
                                  <thead>
                                    <tr>
                                      <th>Previous Owner</th>
                                      <th>Sales Date</th>
                                      <th>Ranch Name</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr ng-repeat="preowner in previousowner">
                                      <td><span ng-bind="preowner.MemberName"></span></td>
                                      <td><span ng-bind="preowner.RanchName"></span></td>
                                      <td><span ng-bind="preowner.SaleDate | date : 'MM/dd/yyyy'"></span></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="offspringinanimals" class="tab-pane fade align">
                        <div class="container col-md-12" style="height:100%;padding: 10px;">
                          <div class="panel panel-default">
                            <div class="panel-body">
                              <div class="table-responsive">
                                <table class="table table-striped table-bordered nowrap" datatable="ng" dt-options="vm.dtOptions" dt-instance="vm.dtInstance" width="100%">
                                  <thead>
                                    <tr>
                                      <th>Animal</th>
                                      <th>Description</th>
                                      <th>Birthdate</th>
                                      <th>Private Herd</th>
                                      <th>Type</th>
                                      <th>Member Name</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr ng-repeat="offsprin in offspring">
                                      <td><span ng-bind="offsprin.Animal"></span></td>
                                      <td><span ng-bind="offsprin.Description"></span></td>
                                      <td><span ng-bind="offsprin.Birthdate | date : 'MM/dd/yyyy'"></span></td>
                                      <td><span ng-bind="offsprin.PrivateHerd"></span></td>
                                      <td><span ng-bind="offsprin.TypeService"></span></td>
                                      <td><span ng-bind="offsprin.MemberName"></span></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <a data-toggle="tab" ng-click="ExittoInv()" class="btn btn-color">Exit</a>
                  </div>
                </div>