<style>
    .menubar {
    background-color: #dedede;
    padding-left: 7px;
    border-radius: 6px;
    width:402px;
}
.medline {
    font-size: 110%;
}
a:hover {
    color: darkred !important;
    text-decoration: none;
    cursor: pointer;
  }
body {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
    color: #111111;
    word-wrap: break-word;
    margin: 0;
    background-color: whitesmoke;
  }
</style>

<div class="container"  style="background-color: #dedede !important;box-sizing: border-box;border: 1px solid slategrey;padding: 10px;margin-bottom: 1rem;margin-top: 1rem;height: 100%;width: 90%;padding: 10px;height: 90px;" ng-init="getInfo();classDetails()">
    <p class="medline menucolor" id="blankbar">
      <span class="fancyline biggerline" style="font-size: 150%"
        >ABBI Competition Admin</span
      ><br />
      <a
        style="
          color: darkblue;
          text-decoration: none;
          background-color: transparent !important;
          font-size: 17px;
        "
        href="http://localhost/admin/home#!/eventhome"
        >home</a
      >
      |
      <a
        style="
          color: darkblue;
          text-decoration: none;
          background-color: transparent !important;
          font-size: 17px;
        "
        href="http://localhost/admin/home#!/pastevent"
        >past events</a
      >
      |
      <a
        style="
          color: darkblue;
          text-decoration: none;
          background-color: transparent !important;
          font-size: 17px;
        "
        href="http://localhost/admin/home#!/addevent"
        >add event</a
      >
      |
      <a
        style="
          color: darkblue;
          text-decoration: none;
          background-color: transparent !important;
          font-size: 17px;
        "
        href="http://localhost/admin/home#!/classlink"
        >Link 2 Classes</a
      >
      |
      <a
        style="
          color: darkblue;
          text-decoration: none;
          background-color: transparent !important;
          font-size: 17px;
        "
        href="http://localhost/admin/home#!/bullboss"
        >animals</a
      >
      |
      <a
        style="
          color: darkblue;
          text-decoration: none;
          background-color: transparent !important;
          font-size: 17px;
        "
        href="http://localhost/admin/home#!/handlerlist"
        >handlers</a
      >
      |
      <a
        style="
          color: darkblue;
          text-decoration: none;
          background-color: transparent !important;
          font-size: 17px;
        "
        href="http://localhost/admin/home#!/program"
        >programs</a
      >
    </p>
  </div>